<div class="form-signin">

  <div class="text-center mb-4">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <fieldset class="form-label-group">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :disabled => true, :class => "form-control", :placeholder => "Email" %>
      <%= f.label :email %>
    </fieldset>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <fieldset class="form-label-group">
      <%= f.password_field :password, autocomplete: "new-password", :class => "form-control", :placeholder => "New password" %>
      <%= f.label :password %>
      <small class="text-muted">
        <i>(leave blank if you don't want to change it)</i>
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </small>
    </fieldset>

    <fieldset class="form-label-group">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "form-control", :placeholder => "Password confirmation" %>
      <%= f.label :password_confirmation %>
    </fieldset>

    <fieldset class="form-label-group">
      <%= f.password_field :current_password, autocomplete: "current-password", :class => "form-control", :placeholder => "Current password" %>
      <%= f.label :current_password %>
      <small class="text-muted">
        <i>(we need your current password to confirm your changes)</i>
      </small>
    </fieldset>

    <%= f.submit "Update", :class => "btn btn-block btn-primary" %>
  <% end %>
</div>

<div class="form-signin">

  <div class="text-center mb-4">
    <h3>Cancel my account</h3>
  </div>

  <p>Unhappy? <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "btn btn-block btn-secondary" %></p>

  <%= link_to "Back", :back, :class => "btn btn-block btn-secondary" %>
</div>
