<div class="form-signin">

  <div class="text-center mb-4">
    <h2>Sign up</h2>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <fieldset class="form-label-group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email",
        class: "form-control", placeholder: t('view.devise.email') %>
    <%= f.label :email, t('view.devise.email') %>
  </fieldset>

  <fieldset class="form-label-group">
    <%= f.password_field :password, autocomplete: "new-password",
        class: "form-control", placeholder: t('view.devise.password') %>
    <%= f.label :password, t('view.devise.password') %>
    <small class="text-muted">
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>
          characters minimum)</em>
      <% end %>
    </small>
  </fieldset>

  <fieldset class="form-label-group">
    <%= f.password_field :password_confirmation, autocomplete: "new-password",
         class: "form-control", placeholder: t('view.devise.password-confirmation') %>
    <%= f.label :password_confirmation, t('view.devise.password-confirmation') %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :organization_id, t('model.organization').titlecase %>
    <i class="fa fa-info-circle" data-toggle="tooltip" data-html="true"
       title="<%= t('view.devise.organization-tooltip') %>"></i>
    <%= f.collection_select(:organization_id, Organization.all.order(:name), :id, :name,
                            { include_blank: 'Select your organization.' },
                            { class: 'form-control', style: 'height: 3rem; font-size: 0.85rem; ' }) %>
  </fieldset>

  <fieldset class="form-group">
    <%= label_tag "product-owner", t('model.product').titlecase %>
    <i class="fa fa-info-circle" data-toggle="tooltip" data-html="true"
       title="<%= t('view.devise.product-tooltip') %>"></i>
    <%= collection_select(nil, "product-owner", Product.all.order(:name), :id, :name,
                          { include_blank: 'Select your product.' },
                          { class: 'form-control', style: 'height: 3rem; font-size: 0.85rem; ' }) %>
    <div class="row mt-1">
      <div class="col-12 badges"></div>
    </div>
  </fieldset>

  <%= recaptcha_tags callback: 'enableRegistration', site_key: Rails.application.secrets.captcha_site_key %>

  <%= f.submit t('view.header.sign-up'), id: 'submit-registration',
      class: "btn btn-block btn-secondary", disabled: true %>
<% end %>

<%= render "devise/shared/links" %>

</div>