<%= form_with(model: use_case, local: true, html: { id: 'use-case-form' }) do |form| %>
  <fieldset class="form-label-group">
    <%= form.text_field :name, id: :use_case_name, class: "form-control", placeholder: t('view.general.name') %>
    <%= form.label :name, t('view.general.name') %>
  </fieldset>

  <div class="mt-2"></div>
  <input id="original_name" type="hidden" value="<%= use_case.name %>" />
  <div id="duplicate-warning" class="alert alert-warning">
    <%= t('view.general.duplicates', model: t('model.use-case')) %>
  </div>

  <fieldset class="form-group mb-0">
    <%= form.label :sector_id, t('model.sector').to_s.titlecase, class: 'custom-label' %>:
    <% options = options_from_collection_for_select(@sectors, 'id', 'name', use_case.sector_id) %>
    <%= form.select :sector_id, options, {}, :class => "custom-select mb-2" %>
  </fieldset>

  <%= form.hidden_field :uc_desc, id: :use_case_desc %>
  <div class="wysiwyg-editor">
  </div>

  <div>
    <%= form.label :sector_id, t('view.use-case.form.is-mature').to_s, class: 'custom-label' %>:
    <%= form.check_box :maturity, {}, "Mature", "Beta" %>
  </div>

  <h6 class="bg-secondary text-white border rounded p-3 mb-0 mt-2">
    <%= t('view.use-case.form.assigned-sdg-targets') %>
  </h6>
  <fieldset class="form-label-group mt-2">
    <input type="text" id="sdg-target-search" class="form-control"
           placeholder="<%= t('view.use-case.form.search-sdg-targets') %>" />
    <label for="use-case-sdg-target">
      <%= t('view.use-case.form.search-sdg-targets') %>
    </label>
  </fieldset>
  <div class="row">
    <div class="col-12">
      <span id="base-selected-sdg-targets" class="selected-element badge badge-secondary px-1 mb-1">
        <span class="text-label"></span>
        <a onclick="remove(this);" style="cursor: pointer;">
          <i class="fas fa-trash-alt"></i>
        </a>
        <input type="hidden"/>
      </span>
    </div>
  </div>

  <h6 class="bg-secondary text-white border rounded p-3 mb-0">
    <%= t('view.multi-select.assigned.title', model: t('model.workflow').to_s.pluralize.humanize) %>
  </h6>

  <fieldset class="form-label-group mt-2">
    <input type="text" id="workflow-search" class="form-control"
           placeholder="<%= t('view.multi-select.assigned.label', model: t('model.workflow').to_s.pluralize) %>" />
    <label for="use-case-workflow">
      <%= t('view.multi-select.assigned.label', model: t('model.workflow').to_s.pluralize) %>
    </label>
  </fieldset>
  <div class="row">
    <div class="col-12">
      <span id="base-selected-workflows" class="selected-element badge badge-secondary px-1 mb-1">
        <span class="text-label"></span>
        <a onclick="remove(this);" style="cursor: pointer;">
          <i class="fas fa-trash-alt"></i>
        </a>
        <input type="hidden"/>
      </span>
    </div>
  </div>

  <fieldset class="float-right mt-4">
    <%= form.submit t('view.general.submit'), :class => "btn btn-primary" %>
    <%= link_to t('view.general.back'), "javascript:window.history.back()", :class => 'btn btn-outline-secondary' %>
  </fieldset>
<% end %>

<script>
  <% use_case.sdg_targets.order("target_number").each do |sdg_target| %>
    addSdgTarget('<%= sdg_target.id %>', '<%= sdg_target.target_number %> : <%= sdg_target.name %>');
  <% end %>
  <% use_case.workflows.order("name").each do |workflow| %>
    addWorkflow('<%= workflow.id %>', '<%= workflow.name %>');
  <% end %>

  var editor = setUpEditor(<%= raw JSON.generate(@ucDesc.description) %>);
  var form = document.querySelector('#use-case-form');
  form.onsubmit = function() {
    var useCaseDesc = $('#use_case_desc');
    useCaseDesc.val(JSON.stringify(editor.getContents()));
  };
</script>
