<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<div class="card">
  <div class="bg-secondary text-white card-header">
    <h5 class="float-left mb-0">
      <%= "#{t('model.use-case').to_s.titlecase}: #{@use_case.name}" %>
    </h5>
    <div class="float-right mr-2 text-white"> 
      <%= t('view.use-case.index.maturity').to_s %>:
      <%= @use_case.maturity %>
    </div>
  </div>
  <%= image_tag(@use_case.image_file, class: 'card-img-top px-2 py-2 mx-auto', style: 'width: auto; height: 250px;') %>
  <div class="card-body">
    <div id="usecase-viewer" class="wysiwyg-viewer">
    </div>
    <p class="float-right mb-0" >
      <%= link_to 'Back', use_cases_path, :class => "card-link" %>
      <% if user_signed_in? && policy(@use_case).mod_allowed? %>
        <%= link_to 'Edit', edit_use_case_path(@use_case), :class => "card-link" %>
      <% end %>
  </div>
</div>

<% if @use_case.sdg_targets.count > 0 %>
  <div class="mt-4">
    <div class="border rounded bg-secondary text-white clearfix border card-header">
      <h5 class="float-left mb-0"><%= t('view.use-case.show.sdg-targets') %></h5>
    </div>
    <div class="row">
      <% @use_case.sdg_targets.order("target_number").each do |sdg_target| %>
        <div class="col-6 col-lg-4 mt-2">
          <div class="card h-100">
            <%= image_tag(sdg_target.image_file, class: 'card-img-top mx-auto w-25 px-0 pt-2 pb-0') %>
            <div class="card-body pb-2 pt-2">
              <p class="card-text mb-0" style="flex: 1"><%= sdg_target.target_number %></p>
              <p class="card-text text-muted mb-1" style="flex: 1"><%= sdg_target.name %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% if @use_case.workflows.count > 0 %>
  <% building_blocks = [] %>
  <div class="mt-4">
    <div class="border rounded bg-secondary text-white clearfix border card-header">
      <h5 class="float-left mb-0"><%= t('model.workflow').to_s.pluralize.titlecase%></h5>
    </div>
    <div class="row">
      <% @use_case.workflows.order("name").each do |workflow| %>
        <% building_blocks = building_blocks | workflow.building_blocks %>
        <div class="col-6 col-lg-4 mt-2">
          <div class="card h-100">
            <div class="card-body px-1 py-1">
              <%= image_tag(workflow.image_file, class: 'footer-img') %>
              <span class="card-text text-muted mt-2">
                <%= link_to workflow.name, workflow %>
              </span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="mt-4">
    <div class="border rounded bg-secondary text-white clearfix border card-header">
      <h5 class="float-left mb-0"><%= t('model.building-block').to_s.titlecase.pluralize %></h5>
    </div>
    <div class="row">
      <% building_blocks.sort_by{|building_block| building_block.name.downcase }.each do |building_block| %>
        <div class="col-6 col-lg-4 mt-2">
          <div class="card h-100">
            <div class="card-body px-1 py-1">
              <%= image_tag(building_block.image_file, class: 'footer-img-small') %>
              <span class="card-text text-muted mb-0">
                <%= link_to building_block.name, building_block %>
              </span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<script>
        setUpViewer(<%= raw JSON.generate(@ucDesc.description) %>)
</script>
