<p id="notice"><%= notice %></p>
<div class="card">
  <h5 class="card-header bg-secondary text-white">
    Deploy: <%= @deploy.instance_name %>
  </h5>
  <div class="card-body">
    <p class="card-subtitle text-muted mb-2">Status: <%= @deploy.status %></p>
    <p class="card-subtitle text-muted mb-2">URL: <%= link_to @deploy.url, "#{@deploy.url}", target: :_blank %></p>
    <p class="card-subtitle text-muted mb-2">Provider: <%= @provider_full %></p>
    <p class="card-subtitle text-muted mb-2">Latest messages:
      <div class="ml-3">
        <% @messages.each do |message| %>
          <p><%= message.to_s.force_encoding("UTF-8") %></p>
        <% end %>
      </div>
      <div><%= link_to 'Show all messages', deploy_show_messages_path(@deploy), :class => 'btn btn-secondary', target: :_blank %></div>
    </p>
    <p class="float-right mb-0" >
      <%= link_to 'Back', deploys_path, :class => "card-link" %>
    </p>
  </div>
  <h5 class="card-header bg-secondary text-white">
    SSH User
  </h5>
  <div class="card-body">
    <% if @deploy.status == "RUNNING" %>
      <%= form_tag(deploy_add_ssh_user_path(@deploy), id: "ssh-user-form", class: "form") do %>
        <%= text_field_tag :pub_key, params[:pub_key], placeholder: "Enter your SSH public key ...", :class => "form-control" %>
        <div>
          <%= submit_tag "Create SSH User", :class => "btn btn-secondary" %>
        </div>
      <% end %>
    <% else %>
      <p class="card-subtitle text-muted mb-2">You can configure SSH access once the build is complete</p>
    <% end %>
  </div>
</div>

