<%= form_with(model: workflow, local: true, html: { id: 'workflow-form' }) do |form| %>
  <fieldset class="form-label-group">
    <%= form.text_field :name, id: :workflow_name, class: "form-control", placeholder: t('view.general.name') %>
    <%= form.label :name, t('view.general.name') %>
  </fieldset>

  <div class="mt-2"></div>
  <input id="original_name" type="hidden" value="<%= workflow.name %>" />
  <div id="duplicate-warning" class="alert alert-warning">
    <%= t('view.general.duplicates', model: t('model.workflow')) %>
  </div>

  <%= form.hidden_field :wf_desc, id: :workflow_desc %>
  <div class="wysiwyg-editor">
  </div>

  <h6 class="bg-secondary text-white border rounded p-3 mb-0 mt-2">
    <%= t('view.multi-select.assigned.title', model: t('model.use-case').to_s.pluralize.titlecase) %>
  </h6>

  <fieldset class="form-label-group mt-2">
    <input type="text" id="use-case-search" class="form-control"
           placeholder="<%= t('view.multi-select.assigned.title', model: t('model.use-case').to_s.pluralize) %>" />
    <label for="workflow-use-case">
      <%= t('view.multi-select.assigned.title', model: t('model.use-case').to_s.pluralize) %>
    </label>
  </fieldset>
  <div class="row">
    <div class="col-12">
      <span id="base-selected-use-cases" class="selected-element badge badge-secondary px-1 mb-1">
        <span class="text-label"></span>
        <a onclick="remove(this);" style="cursor: pointer;">
          <i class="fas fa-trash-alt"></i>
        </a>
        <input type="hidden"/>
      </span>
    </div>
  </div>
  
  <h6 class="bg-secondary text-white border rounded p-3 mb-0">
    <%= t('view.multi-select.assigned.title', model: t('model.building-block').to_s.pluralize.titlecase) %>
  </h6>

  <fieldset class="form-label-group mt-2">
    <input type="text" id="building-block-search" class="form-control"
           placeholder="<%= t('view.multi-select.assigned.title', model: t('model.building-block').to_s.pluralize) %>" />
    <label for="workflow-building-block">
      <%= t('view.multi-select.assigned.title', model: t('model.building-block').to_s.pluralize) %>
    </label>
  </fieldset>
  <div class="row">
    <div class="col-12">
      <span id="base-selected-building-blocks" class="selected-element badge badge-secondary px-1 mb-1">
        <span class="text-label"></span>
        <a onclick="remove(this);" style="cursor: pointer;">
          <i class="fas fa-trash-alt"></i>
        </a>
        <input type="hidden"/>
      </span>
    </div>
  </div>
  <fieldset class="float-right mt-4">
    <%= form.submit t('view.general.submit'), :class => "btn btn-primary" %>
    <%= link_to t('view.general.back'), "javascript:window.history.back()", :class => 'btn btn-outline-secondary' %>
  </fieldset>
<% end %>

<script>
  <% workflow.use_cases.order("name").each do |use_case| %>
    addUseCase('<%= use_case.id %>', '<%= use_case.name %>');
  <% end %>
  <% workflow.building_blocks.order("name").each do |building_block| %>
    addBuildingBlock('<%= building_block.id %>', '<%= building_block.name %>');
  <% end %>

  var editor = setUpEditor(<%= raw JSON.generate(@wfDesc.description) %>);
  var form = document.querySelector('#workflow-form');
  form.onsubmit = function() {
    var workflowDesc = $('#workflow_desc');
    workflowDesc.val(JSON.stringify(editor.getContents()));
  };
</script>
