<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<div class="row">
  <a href="#" class="wf-show-hide ml-4" id="wf-show-more">
    <p class="float-left"><%= t('view.general.show-workflow').to_s %></p>
  </a>
  <div id="wf-more" class="hidden">
    <section class="hero bg-secondary mb-2 ml-3 mr-3">
      <div class="col-12 ml-4 mt-2 text-white">
        <h5><strong><%= t('model.workflow').to_s.titleize.pluralize %></strong></h5>
        <div id="wf-desc">
          <p class="mr-4"><%= t('view.workflow.index.definition').to_s %></p>
          <strong><%= t('view.general.characteristics').to_s %></strong>
          <ul>
            <% t('view.workflow.index.characteristics').each_line do |point| %>
              <li><%= point %></li>
            <% end %>
          </ul>
          <strong><%= t('view.general.description').to_s %></strong>
          <p class="mr-4"><%= t('view.workflow.index.description').to_s %></p>
          <a href="#" id="wf-show-less" class="wf-show-hide hidden">
            <p class="float-left"><%= t('view.general.show-less').to_s %></p>
          </a>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <% if user_signed_in? && policy(Workflow).mod_allowed? %>
      <%= link_to t('view.general.create'), new_workflow_path, :class => 'float-right small ml-1' %>
    <% end %>
  </div>
</div>

<div id="current-list">
<div class="row">
  <% if @workflows.count > 0 %>
    <% @workflows.each do |workflow| %>
      <div class="col-lg-5ths col-md-4 d-flex align-items-stretch mt-2">
        <div class="card index-card">
          <div class="card-header bg-secondary text-white small truncate-parent">
            <%= link_to workflow.name, workflow, class: 'truncate-text',
                'title' => workflow.name, 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
          </div>
          <div class="model-logo">
            <%= link_to(workflow) do %>
              <%= image_tag(workflow.image_file, class: 'card-img-top align-middle px-2 py-2') %>
            <% end %>
          </div>
          <div class="card-footer footer-padding">
            <%
              use_cases = workflow_footer(workflow, 'use_cases')
              if use_cases.count > 0
                content = "<div class='footer-row' data-toggle='popover' data-placement='bottom'
                                data-html='true' data-content='#{workflow_footer_popover(use_cases, 'view.workflow.index.use-case-popover')}'>"
                concat(content.html_safe)
                concat(image_tag(use_cases[0][:filename], class: 'footer-img mb-1'))
                
                content = "<span class='small text-muted ml-1'>#{workflow.use_cases.size} #{t('model.use-case').titlecase.pluralize(workflow.use_cases.size)}</span>"
                concat(content.html_safe)

                # When we have image for each workflow, we can use the following code.
                # workflows.each do |workflow|
                #   concat(image_tag(workflow[:filename], title: workflow[:tooltip],
                #                   class: 'footer-img', 'data-toggle': 'tooltip', 'data-placement': 'top'))
                # end
                concat('</div>'.html_safe)
              end

              building_blocks = workflow_footer(workflow, 'building_blocks')
              if building_blocks.count > 0
                content = "<div class='footer-row mb-2' data-toggle='popover' data-placement='bottom'
                                data-html='true' data-content='#{workflow_footer_popover(building_blocks, 'view.workflow.index.building-block-popover')}'>"
                concat(content.html_safe)

                building_blocks.each do |building_block|
                  concat(image_tag(building_block[:filename], title: building_block[:tooltip],
                                   class: 'footer-img-small mr-1', 'data-toggle': 'tooltip', 'data-placement': 'top'))
                end
                concat('</div>'.html_safe)
              end

              if use_cases.count == 0
                content = '<div class="footer-row"></div>'
                concat(content.html_safe)
              end

              if building_blocks.count == 0
                content = '<div class="footer-row mb-2"></div>'
                concat(content.html_safe)
              end
            %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
</div>

<script>
  $(".wf-show-hide").on('click', function(e) {
    e.preventDefault()
    $("#wf-more").toggleClass('hidden')
    $("#wf-show-more").toggleClass('hidden')
    $("#wf-show-less").toggleClass('hidden')
  })
</script>
