<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<div class="card">
  <div class="bg-secondary text-white card-header">
    <h5 class="float-left mb-0">
      <%= "#{t('model.workflow').to_s.titlecase}: #{@workflow.name}" %>
    </h5>
  </div>
  <%= image_tag(@workflow.image_file, class: 'card-img-top px-2 py-2 mx-auto', style: 'width: auto; height: 250px;') %>
  <div class="card-body">
    <div id="workflow-viewer" class="wysiwyg-viewer">
    </div>
    <p class="float-right mb-0" >
      <%= link_to t('view.general.back'), workflows_path, :class => "card-link" %>
      <% if user_signed_in? && policy(@workflow).mod_allowed? %>
        <%= link_to t('view.general.edit'), edit_workflow_path(@workflow), :class => "card-link" %>
      <% end %>
  </div>
</div>

<% if @workflow.use_cases.count > 0 %>
  <div class="mt-4">
    <div class="border rounded bg-secondary text-white clearfix border card-header">
      <h5 class="float-left mb-0"><%= t('model.use-case').to_s.titlecase.pluralize %></h5>
    </div>

      <div class="row">
        <% @workflow.use_cases.order("name").each do |use_case| %>
          <div class="col-6 col-lg-4 mt-2">
            <div class="card h-100">
              <%= image_tag(use_case.image_file, class: 'card-img-top mx-auto w-25 px-0 pt-2 pb-0') %>
              <div class="card-body pb-2 pt-2">
                <div class="card-text"><%= link_to use_case.name, use_case %></div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
  </div>
<% end %>

<% if @workflow.building_blocks.count > 0 %>
  <div class="mt-4">
    <div class="border rounded bg-secondary text-white clearfix border card-header">
      <h5 class="float-left mb-0"><%= t('model.building-block').to_s.titlecase.pluralize %></h5>
    </div>

    <div class="row">
      <% @workflow.building_blocks.order("name").each do |building_block| %>
        <div class="col-6 col-lg-4 mt-2">
          <div class="card h-100">
            <div class="card-body px-1 py-1">
              <%= image_tag(building_block.image_file, class: 'footer-img-small') %>
              <span class="card-text text-muted mb-0">
                <%= link_to building_block.name, building_block %>
              </span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<script>
        setUpViewer(<%= raw JSON.generate(@wfDesc.description) %>)
</script>
