<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<% if user_signed_in? && policy(Sector).mod_allowed? %>
  <%= link_to t('view.general.create'), new_sector_path, :class => 'btn btn-outline-secondary float-left ml-1' %>
<% end %>
<div class="form-group float-right">
  <%= form_tag(sectors_path, method: "get", id: "search-form", class: "form-inline") do %>
    <%= text_field_tag :search, params[:search], class: "form-control",
        placeholder: t('view.general.search-placeholder', model: t('model.sector').to_s.pluralize) %>
    <div class="input-group-append">
      <%= submit_tag t('view.general.search'), class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th><%= t('view.general.name') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @sectors.count > 0 %>
      <% @sectors.each do |sector| %>
        <tr>
          <td><%= sector.name %></td>
          <td class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
               aria-haspopup="true" aria-expanded="false">
               <%= t('view.general.action') %>
            </a>
            <div class="dropdown-menu">
              <%= link_to t('view.general.view'), sector, :class =>"dropdown-item" %>
              <% if user_signed_in? && policy(sector).mod_allowed? %>
                <%= link_to t('view.general.edit'), edit_sector_path(sector), :class =>"dropdown-item" %>
                <div class="dropdown-divider"></div>
                <%= link_to t('view.general.delete'), sector, method: :delete, data: { confirm: t('view.general.delete-confirm') }, class: "dropdown-item" %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="4">
          <small class="text-muted"><%= t('view.sector.index.no-data') %></small>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @sectors, :class => "float-right digg-pagination" %>
