<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>
<div class="card">
  <h5 class="card-header bg-secondary text-white">
    <%= "#{t('model.sector').to_s.titlecase}: #{@sector.name}" %>
  </h5>
  <div class="card-body py-2">
    <div class="float-right" >
      <%= link_to t('view.general.back'), sectors_path, :class => "card-link" %>
      <% if user_signed_in? && policy(@sector).mod_allowed? %>
        <%= link_to t('view.general.edit'), edit_sector_path(@sector), :class => "card-link" %>
      <% end %>
    </div>
  </div>
</div>

<div class="mt-4">
  <div class="border rounded bg-secondary text-white clearfix border card-header">
    <h5 class="float-left mb-0"><%= t('model.organization').to_s.pluralize.titlecase %></h5>
  </div>
  <% if @sector.organizations.count > 0 %>
    <div class="row">
      <% @sector.organizations.each do |organization| %>
        <div class="col-6 col-lg-4 mt-2">
          <div class="card h-100">
            <div class="card-body py-2">
              <h5 class="card-title"><%= link_to organization.name, organization %></h5>
              <h6 class="card-subtitle text-muted"><%= organization.website %></h6>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="card-text text-muted">
      <%= t('view.general.not-available', model: t('model.sector'), multi: t('model.organization').to_s.pluralize) %>
    </p>
  <% end %>
</div>

<div class="mt-4">
  <div class="border rounded bg-secondary text-white clearfix border card-header">
    <h5 class="float-left mb-0"><%= t('model.use-case').to_s.pluralize.titlecase %></h5>
  </div>
  <% if @sector.use_cases.count > 0 %>
    <div class="row">
      <% @sector.use_cases.order("name").each do |use_case| %>
        <div class="col-6 col-lg-4 mt-2">
          <div class="card h-100">
            <%= image_tag(use_case.image_file, class: 'card-img-top mx-auto w-25 px-0 pt-2 pb-0') %>
            <div class="card-body py-2">
              <div class="card-text"><%= link_to use_case.name, use_case %></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="card-text text-muted">
      <%= t('view.general.not-available', model: t('model.sector'), multi: t('model.use-case').to_s.pluralize) %>
    </p>
  <% end %>
</div>
