<%= form_with(model: user, local: true) do |form| %>
  <fieldset class="form-label-group">
    <%= form.text_field :email, id: :user_email, :class => "form-control", :placeholder => "Name" %>
    <%= form.label :email %>
  </fieldset>

  <fieldset class="form-group">
    <label for="user-role">
      <%= t('view.user.form.role')%>
    </label>
    <%= form.select(:role, User.roles.keys.map {|role| [role, role]}, {}, :class => "form-control mb-2") %>
  </fieldset>

  <% if @user.role == "admin" %>
  <fieldset>
    <%= form.check_box :receive_backup, {}, true, false %>
    <label class="form-label-group mt-2" for="receive_backup">
      <%= t('view.user.form.db-backup')%>
    </label>
  </fieldset>
  <% end %>

  <% if !@user.is_approved %>
    <fieldset class="form-group form-check">
      <%= form.check_box :is_approved, class: "form-check-input" %>
      <%= form.label :is_approved, t('view.user.form.manual-approval'), class: "form-check-label" %>
    </fieldset>
  <% end %>

  <fieldset class="float-right mt-4">
    <%= form.submit t('view.general.submit'), :class => "btn btn-primary" %>
    <%= link_to t('view.general.back'), "javascript:window.history.back()", :class => 'btn btn-outline-secondary' %>
  </fieldset>
<% end %>
