<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<%= link_to t('view.general.create'), new_user_path, :class => 'btn btn-outline-secondary float-left ml-1' %>
<div class="float-right pb-2">
  <%= form_tag(users_path, :method => "get", id: "search-form", class: "form-inline") do %>
  <%= text_field_tag :search, params[:search],
      placeholder: t('view.general.search-placeholder', model: t('model.sector').to_s.pluralize),
      class: "form-control" %>
  <div class="input-group-append">
    <%= submit_tag t('view.general.search'), :class => "btn btn-secondary" %>
  </div>
<% end %>
</div>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th><%= t('view.user.form.email') %></th>
      <th><%= t('view.user.form.role')%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @users.count > 0 %>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= t("view.user.role.#{user.role}") %></td>
          <td class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
               aria-haspopup="true" aria-expanded="false">
              <%= t('view.general.action') %>
            </a>
            <div class="dropdown-menu">
              <%= link_to t('view.general.view'), user, :class =>"dropdown-item"  %>
              <%= link_to t('view.general.edit'), edit_user_path(user), :class =>"dropdown-item"  %>
              <div class="dropdown-divider"></div>
              <%= link_to t('view.general.delete'), user, method: :delete, data: { confirm: t('view.general.delete-confirm') }, :class =>"dropdown-item" %>
            </div>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="4">
          <small class="text-muted">
            <%= t('view.user.index.no-data') %>
          </small>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @locations, :class => "float-right digg-pagination" %>
