<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<div class="card">
  <div class="bg-secondary text-white card-header">
    <h5 class="float-left mb-0">
      <%= "#{t('model.user').to_s.titlecase}: #{@user.email}" %>
    </h5>
  </div>
  <div class="card-body">
    <p class="card-subtitle text-muted mb-0" >
      <strong><%= t('view.user.form.role') %>: </strong><%= t("view.user.role.#{@user.role}") %>
    </p>
    <p class="card-subtitle text-muted mt-3" >
      <strong><%= t('view.user.show.approved') %>: </strong><%= !@user.confirmed_at.nil? && @user.confirmed_at.strftime('%m/%d/%Y - %H:%M') %>
    </p>
    <% if @user.role == "admin" %>
      <p class="card-subtitle text-muted mt-3" >
        <strong><%= t('view.user.show.receive-backup') %>: </strong><%= @user.receive_backup ? t('view.user.show.yes') : t('view.user.show.no') %>
      </p>
    <% end %>
    <p class="card-subtitle mt-3"> 
      <%= link_to t('view.user.show.reset-password'), edit_user_registration_path, :class => 'btn btn-secondary text-white' %>
    </p>
    <div class="float-right" >
      <%= link_to t('view.general.back'), users_path, :class => "card-link" %>
      <%= link_to t('view.general.edit'), edit_user_path(@user), :class => "card-link" %>
    </div>
  </div>
</div>
