<div id="filter-nav" class="card">
  <div class="card-header bg-secondary text-white">
    <i class="fas fa-question-circle float-right" style="margin-top: 4px; cursor: pointer;" data-toggle="modal" data-target="#help-modal"></i>
    <h5 class="nav-header"><%= t('view.filternav.framework') %></h5>
  </div>
  <div class="card-body p-0 accordion-section">
    <div id="acc-framework" class="accordion">
      <div class="accordion-header bg-dark">
        <span class="m-0 align-middle">
          <div id="header-sustainable_development_goals-link" class="header-link-button" >
          <%= image_tag "sdgs_icon.png", :width => "20px", :height => "20px" %>
          <span class="align-middle"><%= t('view.filternav.sdgs') %></span>
          </div>
          <%
            counter = filter_count('sdgs')
            if counter > 0
              concat "<span id='accordian-sdgs-count' class='badge badge-light'>#{counter}</span>".html_safe
            else
              concat "<span id='accordian-sdgs-count' class='badge badge-light'></span>".html_safe
            end
           %>
          <i class="fa fa-angle-down float-right text-muted"></i>
        </span>
      </div>
      <div class="accordion-body p-0 bg-dark">
        <div class="row">
          <div id="clear-sdgs" class="col-12 small clear-all"><a class="float-right" href="#"><%= t('view.filternav.clear') %></a></div>
        </div>
        <div class="row">
          <div class="col-12 ml-1">
            <div class="form-group mb-1">
              <%= collection_select(nil, "sdgs", SustainableDevelopmentGoal.all.order(:number), :id, :option_label,
                  { selected: params[:name], include_blank: t('view.filternav.title.sdg') },
                  { class: 'form-control filter-element' }) %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 badges"></div>
        </div>
      </div>

      <div class="accordion-header bg-dark">
          <span class="m-0 align-middle">
            <div id="header-use_cases-link" class="header-link-button" >
            <%= image_tag "use_cases_icon.png", :width => "20px", :height => "20px" %>
            <span class="align-middle"><%= t('view.filternav.use_cases') %></span>
            </div>
            <%
              counter = filter_count('use_cases')
              if counter > 0
                concat "<span id='accordian-use_cases-count' class='badge badge-light'>#{counter}</span>".html_safe
              else
                concat "<span id='accordian-use_cases-count' class='badge badge-light'></span>".html_safe
              end
            %>
            <i class="fa fa-angle-down float-right text-muted"></i>
          </span>
      </div>
      <div class="accordion-body p-0 bg-dark">
        <div class="row">
          <div id="clear-use_cases" class="col-12 small clear-all"><a class="float-right" href="#"><%= t('view.filternav.clear') %></a></div>
        </div>
        <div class="row">
          <div class="col-12 ml-1">
            <div class="form-group mb-1">
              <%= collection_select(nil, "use_cases", UseCase.all.order(:name), :id, :name,
                  { selected: params[:name], include_blank: t('view.filternav.title.use-case') },
                  { class: 'form-control filter-element' }) %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 badges"></div>
        </div>
      </div>

      <div class="accordion-header bg-dark">
          <span class="m-0 align-middle">
            <div id="header-workflows-link" class="header-link-button" >
            <%= image_tag "workflows_icon.png", :width => "20px", :height => "20px" %>
            <span class="align-middle"><%= t('view.filternav.workflows') %></span>
            </div>
            <%
              counter = filter_count('workflows')
              if counter > 0
                concat "<span id='accordian-workflows-count' class='badge badge-light'>#{counter}</span>".html_safe
              else
                concat "<span id='accordian-workflows-count' class='badge badge-light'></span>".html_safe
              end
            %>
            <i class="fa fa-angle-down float-right text-muted"></i>
          </span>
      </div>
      <div class="accordion-body p-0 bg-dark">
        <div class="row">
          <div id="clear-workflows" class="col-12 small clear-all"><a class="float-right" href="#"><%= t('view.filternav.clear') %></a></div>
        </div>
        <div class="row">
          <div class="col-12 ml-1">
            <div class="form-group mb-1">
              <%= collection_select(nil, "workflows", Workflow.all.order(:name), :id, :name,
                  { selected: params[:name], include_blank: t('view.filternav.title.workflow') },
                  { class: 'form-control filter-element' }) %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 badges"></div>
        </div>
      </div>

      <div class="accordion-header bg-dark">
          <span class="m-0 align-middle">
            <div id="header-building_blocks-link" class="header-link-button" >
            <%= image_tag "building_blocks_icon.png", :width => "20px", :height => "20px" %>
            <span class="align-middle"><%= t('view.filternav.building_blocks') %></span>
            </div>
            <%
              counter = filter_count('building_blocks')
              if counter > 0
                concat "<span id='accordian-building_blocks-count' class='badge badge-light'>#{counter}</span>".html_safe
              else
                concat "<span id='accordian-building_blocks-count' class='badge badge-light'></span>".html_safe
              end
            %>
            <i class="fa fa-angle-down float-right text-muted"></i>
          </span>
      </div>
      <div class="accordion-body p-0 bg-dark">
        <div class="row">
          <div id="clear-building_blocks" class="col-12 small clear-all"><a class="float-right" href="#"><%= t('view.filternav.clear') %></a></div>
        </div>
        <div class="row">
          <div class="col-12 ml-1">
            <div class="form-group mb-1">
              <%= collection_select(nil, "building_blocks", BuildingBlock.all.order(:name), :id, :name,
                  { selected: params[:name], include_blank: t('view.filternav.title.building-block') },
                  { class: 'form-control filter-element' }) %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 badges"></div>
        </div>
      </div>

      <div class="accordion-header bg-dark">
          <span class="m-0 align-middle">
            <div id="header-products-link" class="header-link-button" >
            <%= image_tag "products_icon.png", :width => "20px", :height => "20px" %>
            <span class="align-middle"><%= t('view.filternav.products') %></span>
            </div>
            <%
              counter = filter_count('origins') + filter_count('products') + filter_count('with_maturity_assessment')
              if counter > 0
                concat "<span id='accordian-origins-count' class='badge badge-light'>#{counter}</span>".html_safe
              else
                concat "<span id='accordian-origins-count' class='badge badge-light'></span>".html_safe
              end
            %>
            <i class="fa fa-angle-down float-right text-muted"></i>
          </span>
      </div>
      <div class="accordion-body p-0 bg-dark">
        <div class="row">
          <div id="clear-products" class="col-12 small clear-all"><a class="float-right" href="#"><%= t('view.filternav.clear') %></a></div>
        </div>
        <div class="row mb-2">
          <div class="col-12 ml-1">
            <div class="form-check">
                <%= check_box_tag "with_maturity_assessment", true, params[:with_maturity_assessment], class: "form-check-input filter-element checkbox-align" %>
                <%= label_tag "with_maturity_assessment", t('view.filternav.with-maturity'), class: "form-check-label" %>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-12 ml-1">
            <div class="form-check">
                <%= check_box_tag "is_launchable", true, params[:is_launchable], class: "form-check-input filter-element checkbox-align" %>
                <%= label_tag "is_launchable", t('view.filternav.is-launchable'), class: "form-check-label" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 ml-1">
            <div class="form-group mb-1">
              <%= label_tag "origins", t('view.product.index.sources') %>
              <%= collection_select(nil, "origins", Origin.all.order(:name), :id, :name,
                  { selected: params[:name], include_blank: t('view.filternav.title.origin')},
                  { class: 'form-control filter-element' }) %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 badges"></div>
        </div>
        <div class="row p-1 mt-1">
          <div class="col-12">
            <div class="form-group mb-1">
              <%= label_tag "products", t('model.product').titlecase.pluralize %>:
              <input type="text" id="products" class="form-control filter-element"
                placeholder="<%= t('view.multi-select.assigned.label', model: t('model.product').to_s.pluralize) %>" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 badges"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-header bg-secondary text-white">
    <h5 class="nav-header"><%= t('view.filternav.registry') %></h5>
  </div>
  <div class="card-body p-0">
    <div id="acc-registry" class="accordion">
      <div class="accordion-header bg-dark">
        <span class="m-0 align-middle">
          <%= image_tag "geographies_icon.png", :width => "20px", :height => "20px" %>
          <span class="align-middle"><%= t('view.filternav.geographies') %></span>
          <%
            counter = filter_count('countries')
            if counter > 0
              concat "<span id='accordian-countries-count' class='badge badge-light'>#{counter}</span>".html_safe
            else
              concat "<span id='accordian-countries-count' class='badge badge-light'></span>".html_safe
            end
          %>
          <i class="fa fa-angle-down float-right text-muted"></i>
        </span>
      </div>
      <div class="accordion-body p-0 bg-dark">
        <div class="row">
          <div id="clear-countries" class="col-12 small clear-all"><a class="float-right" href="#"><%= t('view.filternav.clear') %></a></div>
        </div>
        <div class="row">
          <div class="col-12 ml-1">
            <div class="form-group mb-1">
              <%= collection_select(nil, "countries", Location.where(location_type: 'country').order(:name), :id, :name,
                  { selected: params[:name], include_blank: t('view.filternav.title.country') },
                  { class: 'form-control filter-element' }) %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 badges"></div>
        </div>
      </div>
      <div class="accordion-header bg-dark">
        <span class="m-0 align-middle">
          <%= image_tag "sectors_icon.png", :width => "20px", :height => "20px" %>
          <span class="align-middle"><%= t('view.filternav.sectors') %></span>
          <%
            counter = filter_count('sectors')
            if counter > 0
              concat "<span id='accordian-sectors-count' class='badge badge-light'>#{counter}</span>".html_safe
            else
              concat "<span id='accordian-sectors-count' class='badge badge-light'></span>".html_safe
            end
          %>
          <i class="fa fa-angle-down float-right text-muted"></i>
        </span>
      </div>
      <div class="accordion-body p-0 bg-dark">
        <div class="row">
          <div id="clear-sectors" class="col-12 small clear-all"><a class="float-right" href="#"><%= t('view.filternav.clear') %></a></div>
        </div>
        <div class="row">
          <div class="col-12 ml-1">
            <div class="form-group mb-1">
              <%= collection_select(nil, "sectors", Sector.all.order(:name), :id, :name,
                  { selected: params[:name], include_blank: t('view.filternav.title.sector') },
                  { class: 'form-control filter-element' }) %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 badges"></div>
        </div>
      </div>
      <div class="accordion-header bg-dark">
        <span class="m-0 align-middle">
          <div id="header-organizations-link" class="header-link-button" >
          <%= image_tag "organizations_icon.png", :width => "20px", :height => "20px" %>
          <span class="align-middle"><%= t('view.filternav.orgs') %></span>
          </div>
          <%
            counter = filter_count('years') + filter_count('endorser_only') + filter_count('aggregator_only')
            if counter > 0
              concat "<span id='accordian-years-count' class='badge badge-light'>#{counter}</span>".html_safe
            else
              concat "<span id='accordian-years-count' class='badge badge-light'></span>".html_safe
            end
          %>
          <i class="fa fa-angle-down float-right text-muted"></i>
        </span>
      </div>
      <div class="accordion-body p-0 bg-dark">
        <div class="row">
          <div id="clear-organizations" class="col-12 small clear-all"><a class="float-right" href="#"><%= t('view.filternav.clear') %></a></div>
        </div>
        <div class="row mb-2">
          <div class="col-12 ml-1">
            <div class="form-check">
                <%= check_box_tag "aggregator_only", true, params[:aggregator_only], { class: "form-check-input filter-element checkbox-align", name:"aggregator"} %>
                <%= label_tag "aggregator_only", t('view.organization.index.aggregators'), class: "form-check-label" %>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-12 ml-1">
            <div class="form-check">
                <%= check_box_tag "endorser_only", true, params[:endorser_only], { class: "form-check-input filter-element checkbox-align", name:"endorser"} %>
                <%= label_tag "endorser_only", t('view.organization.index.endorsers'), class: "form-check-label" %>
            </div>
          </div>
        </div>
        <% if Organization.count > 1 %>
        <div class="row">
          <div class="col-12 ml-1">
            <div class="form-group mb-1">
              <%= label_tag "years", t('view.organization.index.endorsed-date') %>
              <%= select(nil, "years",
                        Organization
                            .where.not(when_endorsed: nil)
                            .all
                            .collect {|o| [ o.when_endorsed.strftime('%Y'), o.when_endorsed.strftime('%Y') ] }
                            .uniq!
                            .sort!,
                        { selected: params[:years], include_blank: t('view.filternav.title.year') },
                        { class: 'form-control filter-element', name: 'years' }) %>
            </div>
          </div>
        </div>
        <% end %>
        <div class="row">
          <div class="col-12 badges"></div>
        </div>
        <div class="row p-1 mt-1">
          <div class="col-12">
            <div class="form-group mb-1">
              <%= label_tag "organizations", t('model.organization').titlecase.pluralize %>:
              <input type="text" id="organizations" class="form-control filter-element"
                placeholder="<%= t('view.multi-select.assigned.label', model: t('model.organization').to_s.pluralize) %>" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 badges"></div>
        </div>
      </div>
      <div class="accordion-header bg-dark">
        <span class="m-0 align-middle">
          <span class="align-middle"><%= t('view.filternav.projects') %></span>
          <i class="fa fa-angle-down float-right text-muted"></i>
        </span>
      </div>
      <div class="accordion-body p-0 bg-dark">
        <div class="row p-1">
          <div class="col-12 ml-1">
            <%= t('view.filternav.view-projects') %>
          </div>
        </div>
      </div>
      <div class="accordion-header bg-dark">
        <span class="m-0 align-middle">
          <span class="align-middle"><%= t('view.filternav.map') %></span>
          <i class="fa fa-angle-down float-right text-muted"></i>
        </span>
      </div>
      <div class="accordion-body p-0 bg-dark">
        <div class="row p-1">
          <div class="col-12 ml-3">
            <%= link_to t('view.filternav.endorser-map'), 'map' %>
          </div>
          <div class="col-12 ml-3 mt-2">
            <%= link_to t('view.filternav.aggregator-map'), 'map_aggregators' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/help' %>