<footer id="footer">
  <ul class="icons sponsors">
    <li class="description">
      <a href="https://digitalimpactalliance.org">The Digital Impact Alliance</a>
      <%= t('view.footer.tag-line') %>
    </li>
    <li><%= image_tag "unf-logo.png", :alt => "United Nations Foundation" %></li>
    <li><%= image_tag "bill-n-melinda-logo.png", :alt => "Bill and Melinda Gates Foundation" %></li>
    <li><%= image_tag "sweden-logo.png", :alt => "Swedish International Development Cooperation Agency" %></li>
    <li><%= image_tag "usaid-logo.png", :alt => "USAID" %></li>
  </ul>
  <ul class="copyright">
    <li>
      <a target="_blank" rel="noreferrer noopener" rel="noreferrer noopener" href="https://digitalimpactalliance.org/contact-us/ict4sdg/"
         class="fas fa-envelope" style="text-decoration:none;">
      </a>
      <a target="_blank" rel="noreferrer noopener" href="https://digitalimpactalliance.org/contact-us/ict4sdg/"
          style="text-decoration:none;">
         <%= t('view.footer.ict4sdg-updates') %>
      </a>
    </li>
    <li>
      <a target="_blank" rel="noreferrer noopener" href="https://forum.osc.dial.community"
         class="fab fa-forumbee" style="text-decoration:none;">
      </a>
      <a target="_blank" rel="noreferrer noopener" href="https://forum.osc.dial.community"
         style="text-decoration:none;">
         <%= t('view.footer.osc-forum') %>
      </a>
    </li>
    <li>
      <a target="_blank" rel="noreferrer noopener" href="https://gitlab.com/dial/t4d-product-backlog/product-registry"
         class="fas fa-share-alt" style="text-decoration:none;">
      </a>
      <a target="_blank" rel="noreferrer noopener" href="https://gitlab.com/dial/t4d-product-backlog/product-registry"
         style="text-decoration:none;">
         <%= t('view.footer.gitlab') %>
      </a>
    </li>
  </ul>
  <ul class="copyright">
    <li><%= t('view.footer.dial-social-media') %>
    <li>
      <a target="_blank" rel="noreferrer noopener" href="https://twitter.com/DIAL_Community"
         class="fab fa-twitter" style="text-decoration:none;">
      </a>
    </li>
    <li>
      <a target="_blank" rel="noreferrer noopener" href="https://facebook.com/DigitalImpactAlliance"
         class="fab fa-facebook" style="text-decoration:none;">
      </a>
    </li>
    <li>
      <a target="_blank" rel="noreferrer noopener" href="https://www.instagram.com/dial_community"
         class="fab fa-instagram" style="text-decoration:none;">
      </a>
    </li>
  </ul>
  <ul class="copyright">
    <li>
      <a target="_blank" rel="noreferrer noopener" href="https://fontawesome.com/"><%= t('view.footer.fa-icons') %></a>
    </li>
    <li>
      <a target="_blank" rel="noreferrer noopener" href="https://www.globalgoals.org/"><%= t('view.footer.sdg-icons') %></a>
    </li>
  </ul>
  <ul class="copyright">
    <li>© 2019 Digital Impact Alliance</li>
    <li>
      <a target="_blank" rel="noreferrer noopener" href="http://www.digitalimpactalliance.org/privacy-policy/"><%= t('view.footer.privacy-policy') %></a>
    </li>
  </ul>
</footer>
