  <%= form_with(model: contact, local: true) do |form| %>

    <fieldset class="form-label-group">
      <%= form.text_field :name, id: :contact_name, :class => "form-control", :placeholder => t('view.general.name') %>
      <%= form.label :name, t('view.general.name') %>
    </fieldset>

    <input id="original_name" type="hidden" value="<%= contact.name %>" />
    <div id="duplicate-warning" class="alert alert-warning">
      <%= t('view.general.duplicates', model: t('model.contact')) %>
    </div>

    <fieldset class="form-label-group">
      <%= form.text_field :email, id: :contact_email, :class => "form-control", :placeholder => t('view.contact.form.email') %>
      <%= form.label :email, t('view.contact.form.email') %>
    </fieldset>

    <fieldset class="form-label-group">
      <%= form.text_field :title, id: :contact_title, :class => "form-control", :placeholder => t('view.contact.form.title') %>
      <%= form.label :title, t('view.contact.form.title') %>
    </fieldset>

    <h6 class="bg-secondary text-white border rounded p-3 mb-0">
      <%= t('view.multi-select.assigned.title', model: t('model.organization').to_s.pluralize.humanize) %>
    </h6>
    <fieldset class="form-label-group mt-2">
      <input type="text" id="organization-search" class="form-control"
             placeholder="<%= t('view.multi-select.assigned.label', model: t('model.organization').to_s.pluralize) %>" />
      <label for="country-organization">
        <%= t('view.multi-select.assigned.label', model: t('model.organization').to_s.pluralize) %>
      </label>
    </fieldset>
    <div class="row">
      <div class="col-12">
        <span id="base-selected-organizations" class="selected-element badge badge-secondary px-1 mb-1">
          <span class="text-label"></span>
          <a onclick="remove(this);" style="cursor: pointer;">
            <i class="fas fa-trash-alt"></i>
          </a>
          <input type="hidden"/>
        </span>
      </div>
    </div>

    <fieldset class="float-right mt-4">
      <%= form.submit t('view.general.submit'), :class => "btn btn-primary" %>
      <%= link_to t('view.general.back'), "javascript:window.history.back()", :class => 'btn btn-outline-secondary' %>
    </fieldset>

  <% end %>

  <script>
    <% contact.organizations.sort_by{|organization| organization.name }.each do |organization| %>
      addOrganization('<%= organization.id %>', '<%= organization.name %>');
    <% end %>
  </script>
