<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<% if user_signed_in? && policy(Contact).mod_allowed? %>
  <%= link_to t('view.general.create'), new_contact_path, :class => 'btn btn-outline-secondary float-left ml-1' %>
<% end %>
<div class="float-right pb-2">
  <%= form_tag(contacts_path, :method => "get", id: "search-form", class: "form-inline") do %>
  <%= text_field_tag :search, params[:search],
      placeholder: t('view.general.search-placeholder', model: t('model.contact').to_s.pluralize),
      class: "form-control" %>
  <div class="input-group-append">
    <%= submit_tag t('view.general.search'), :class => "btn btn-secondary" %>
  </div>
<% end %>
</div>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th><%= t('view.general.name') %></th>
      <th><%= t('view.contact.form.email') %></th>
      <th><%= t('view.contact.form.title') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.email %></td>
        <td><%= contact.title %></td>
        <td class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
             aria-haspopup="true" aria-expanded="false">
            <%= t('view.general.action') %>
          </a>
          <div class="dropdown-menu">
            <%= link_to t('view.general.view'), contact, :class =>"dropdown-item"  %>
            <% if user_signed_in? && policy(contact).mod_allowed? %>
              <%= link_to t('view.general.edit'), edit_contact_path(contact), :class =>"dropdown-item"  %>
              <div class="dropdown-divider"></div>
              <%= link_to t('view.general.delete'), contact, method: :delete, data: { confirm: t('view.general.delete-confirmation') }, :class =>"dropdown-item" %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @contacts, :class => "float-right digg-pagination" %>
