<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>
<div class="card">
  <h5 class="card-header bg-secondary text-white"><%= @contact.name %></h5>
  <div class="card-body py-2">
    <div class="text-muted"><%= @contact.email %></div>
    <% if @contact.title %>
      <div class="card-text"><%= @contact.title %></div>
    <% end %>
    <div class="float-right" >
      <%= link_to t('view.general.back'), contacts_path, :class => "card-link" %>
      <%= link_to t('view.general.edit'), edit_contact_path(@contact), :class => "card-link" %>
    </div>
  </div>
</div>

<div class="mt-4">
  <div class="border rounded bg-secondary text-white clearfix border card-header">
    <h5 class="float-left mb-0"><%= t('model.organization').to_s.humanize %></h5>
  </div>
  <% if @contact.organizations.count > 0 %>
    <div class="row">
      <% @contact.organizations.each.with_index do |organization, index| %>
        <div class="col-6 col-lg-4 mt-2">
          <div class="card h-100">
            <div class="card-body py-2">
              <h5 class="card-title"><%= link_to organization.name, organization %></h5>
              <h6 class="card-subtitle text-muted"><%= organization.website %></h6>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="card-text text-muted">
      <%= t('view.general.not-available', model: t('model.contact'), multi: t('model.organization').to_s.pluralize) %>
    </p>
  <% end %>
</div>
