  <%= form_with(model: project, local: true, html: { id: 'project-form' }) do |form| %>

    <fieldset class="form-label-group">
      <%= form.text_field :name, id: :project_name, class: "form-control", placeholder: t('view.general.name') %>
      <%= form.label :name, t('view.general.name') %>
    </fieldset>

    <input id="original_name" type="hidden" value="<%= project.name %>" />
    <div id="duplicate-warning" class="alert alert-warning">
      <%= t('view.general.duplicates', model: t('model.project')) %>
    </div>

    <%= form.hidden_field :project_description, id: :project_description %>
    <div class="wysiwyg-editor">
    </div>

    <fieldset class="form-group mt-2">
      <%= label_tag "origins", t('view.product.index.sources') %>
      <%= form.collection_select(:origin_id, Origin.all.order(:name), :id, :name,
                                { },
                                { class: 'form-control filter-element', style: 'height: calc(1.5em + 0.75rem + 15px) !important' }) %>
    </fieldset>

    <h6 class="bg-secondary text-white border rounded p-3 mb-0">
      <%= t('view.multi-select.assigned.title', model: t('model.organization').to_s.pluralize.humanize) %>
    </h6>
    <fieldset class="form-label-group mt-2">
      <input type="text" id="organization-search" class="form-control"
             placeholder="<%= t('view.multi-select.assigned.label', model: t('model.organization').to_s.pluralize) %>" />
      <label for="country-organization">
        <%= t('view.multi-select.assigned.label', model: t('model.organization').to_s.pluralize) %>
      </label>
    </fieldset>
    <div class="row">
      <div class="col-12">
        <span id="base-selected-organizations" class="selected-element badge badge-secondary px-1 mb-1">
          <span class="text-label"></span>
          <a onclick="remove(this);" style="cursor: pointer;">
            <i class="fas fa-trash-alt"></i>
          </a>
          <input type="hidden"/>
        </span>
      </div>
    </div>

    <h6 class="bg-secondary text-white border rounded p-3 mb-0">
      <%= t('view.multi-select.assigned.title', model: t('model.product').to_s.pluralize.humanize) %>
    </h6>
    <fieldset class="form-label-group mt-2">
      <input type="text" id="product-search" class="form-control"
             placeholder="<%= t('view.multi-select.assigned.label', model: t('model.product').to_s.pluralize) %>" />
      <label for="country-product">
        <%= t('view.multi-select.assigned.label', model: t('model.product').to_s.pluralize) %>
      </label>
    </fieldset>
    <div class="row">
      <div class="col-12">
        <span id="base-selected-products" class="selected-element badge badge-secondary px-1 mb-1">
          <span class="text-label"></span>
          <a onclick="remove(this);" style="cursor: pointer;">
            <i class="fas fa-trash-alt"></i>
          </a>
          <input type="hidden"/>
        </span>
      </div>
    </div>

    <fieldset class="float-right mt-4">
      <%= form.submit t('view.general.submit'), :class => "btn btn-primary" %>
      <%= link_to t('view.general.back'), "javascript:window.history.back()", :class => 'btn btn-outline-secondary' %>
    </fieldset>
  <% end %>

<script>
  <% project.organizations.sort_by{|organization| organization.name }.each do |organization| %>
    addOrganization('<%= organization.id %>', '<%= organization.name %>');
  <% end %>

  <% project.products.sort_by{|product| product.name }.each do |product| %>
    addProduct('<%= product.id %>', '<%= product.name %>');
  <% end %>

  var editor = setUpEditor(<%= raw JSON.generate(@project_description.description) %>);
  var form = document.querySelector('#project-form');
  form.onsubmit = function() {
    var projectDescription = $('#project_description');
    projectDescription.val(JSON.stringify(editor.getContents()));
  };
</script>
