<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<div class="card mt-4">
  <h5 class="card-header bg-secondary text-white">
    <%= "#{t('model.project').to_s.humanize}: #{@project.name}" %>
  </h5>
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <% if !@project_description.description.nil? and !@project_description.description.empty? %>
          <p class="mb-0">
            <strong><%= t('view.project.index.description') %>:</strong>
          </p>
          <div id="product-viewer" class="wysiwyg-viewer"></div>
        <% end %>
        <% if !@project.origin.nil? %>
          <strong><%= "#{t('view.project.show.origin')}:" %></strong>
          <%= image_tag("origins/#{@project.origin.slug}.png", class: 'origin-img-full') %>
        <% end %>
      </div>
    </div>
    <p class="float-right mb-0" >
      <%= link_to t('view.general.back'), projects_path, :class => "card-link" %>
      <% if user_signed_in? && policy(@project).mod_allowed? %>
        <%= link_to t('view.general.edit'), edit_project_path(@project), :class => "card-link" %>
      <% end %>
    </p>
  </div>
</div>


<div class="mt-4">
  <div class="border rounded bg-secondary text-white clearfix border card-header">
    <h5 class="float-left mb-0"><%= t('model.organization').to_s.humanize %></h5>
  </div>
  <% if @project.organizations.count > 0 %>
    <div class="row">
      <% @project.organizations.each.with_index do |organization, index| %>
        <div class="col-6 col-lg-4 mt-2">
          <div class="card flex-row">
            <%= link_to organization do %>
              <%= image_tag(organization.image_file, height: 75, class: 'card-image-top align-middle p-1') %>
            <% end %>
            <div class="card-body align-middle my-auto px-2 py-2">
              <%= link_to organization.name, organization %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="card-text text-muted">
      <%= t('view.general.not-available', model: t('model.project'), multi: t('model.organization').to_s.pluralize) %>
    </p>
  <% end %>
</div>

<div class="mt-4">
  <div class="border rounded bg-secondary text-white clearfix border card-header">
    <h5 class="float-left mb-0"><%= t('model.product').to_s.humanize %></h5>
  </div>
  <% if @project.products.count > 0 %>
    <div class="row">
      <% @project.products.each.with_index do |product, index| %>
        <div class="col-6 col-lg-4 mt-2">
          <div class="card flex-row">
            <%= link_to product do %>
              <%= image_tag(product.image_file, height: 75, class: 'card-image-top align-middle p-1') %>
            <% end %>
            <div class="card-body align-middle my-auto px-2 py-2">
              <%= link_to product.name, product %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="card-text text-muted">
      <%= t('view.general.not-available', model: t('model.project'), multi: t('model.product').to_s.pluralize) %>
    </p>
  <% end %>
</div>

<script>
  setUpViewer(<%= raw JSON.generate(@project_description.description) %>)    
</script>
