<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>
<div class="card">
  <h5 class="card-header bg-secondary text-white"><%= @sustainable_development_goal.name %></h5>
  <%= image_tag(@sustainable_development_goal.image_file, class: 'card-img-top mx-auto w-25 px-0 pt-2 pb-0') %>
  <div class="card-text text-muted mx-auto pt-2">
    <%= @sustainable_development_goal.long_title %>
  </div>
  <div class="card-body">
    <div class="row">
      <% if @sustainable_development_goal.sdg_targets.count > 0 %>
          <% @sustainable_development_goal.sdg_targets.each do |sdg_target| %>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-3">
              <div class="card">
                <%= image_tag(sdg_target.image_file, class: 'card-img-top mx-auto w-25 px-0 pt-2 pb-0') %>
                <div class="card-body py-2 px-2">
                  <div class="card-text">
                    <%= "#{t('view.sdg.show.target')}: #{sdg_target.target_number}" %>
                  </div>
                  <div class="card-text text-muted">
                    <%= sdg_target.name %>
                  </div>
                </div>
                <% use_cases = use_case_names(sdg_target) %>
                <% if (use_cases.count > 0) %>
                  <div class="card-footer">
                    <div class="card-text">
                      Use Cases
                    </div>
                    <div class="card-text text-muted">
                      
                      <ul>
                      <% use_cases.each do |use_case| %>
                        <li>
                        <%= link_to(use_case[:name], use_case_path(use_case[:id])) %>
                        </li>
                      <% end %>
                      </ul>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
      <% end %>
    </div>
    <p class="float-right mb-0" >
      <%= link_to t('view.general.back'), sustainable_development_goals_path, :class => "card-link" %>
    </p>
  </div>
</div>

<div class="mt-4">
  
</div>
