<%= form_with(model: building_block, multipart: true, local: true, html: { id: 'bb-form' }) do |form| %>
  <fieldset class="form-label-group">
    <%= form.text_field :name, id: :building_block_name, :class => 'form-control', :placeholder => t('view.general.name') %>
    <%= form.label :name, t('view.general.name') %>
  </fieldset>

  <input id="original_name" type="hidden" value="<%= building_block.name %>" />
  <div id="duplicate-warning" class="alert alert-warning">
    <%= t('view.general.duplicates', model: t('model.building-block')) %>
  </div>
  
  <fieldset class="custom-file mb-2">
    <input type="file" id="logo-file" name="logo" class="custom-file-input" aria-describedby="logo-file" />
    <label class="custom-file-label" for="logo-file">
      <%= t('view.general.logo') %>
    </label>
  </fieldset>

  <%= form.hidden_field :bb_desc, id: :building_block_desc %>
  <div class="wysiwyg-editor">
  </div>

  <h6 class="bg-secondary text-white border rounded p-3 mb-0 mt-2">
    <%= t('view.multi-select.assigned.title', model: t('model.product').to_s.pluralize.humanize) %>
  </h6>
  <% if !@product %>
    <fieldset class="form-label-group mt-2">
      <input type="text" id="product-search" class="form-control"
             placeholder="<%= t('view.multi-select.assigned.label', model: t('model.product').to_s.pluralize) %>" />
      <label for="building-block-product">
        <%= t('view.multi-select.assigned.label', model: t('model.product').to_s.pluralize) %>
      </label>
    </fieldset>
    <% end %>
    <div class="row">
      <div class="col-12">
        <span id="base-selected-products" class="selected-element badge badge-secondary px-1 mb-1">
          <span class="text-label"></span>
          <a onclick="remove(this);" style="cursor: pointer;">
            <i class="fas fa-trash-alt"></i>
          </a>
          <input type="hidden"/>
        </span>
      </div>
    </div>

  <h6 class="bg-secondary text-white border rounded p-3 mb-0">
    <%= t('view.multi-select.assigned.title', model: t('model.workflow').to_s.pluralize.humanize) %>
  </h6>

  <fieldset class="form-label-group mt-2">
    <input type="text" id="workflow-search" class="form-control"
           placeholder="<%= t('view.multi-select.assigned.label', model: t('model.workflow').to_s.pluralize) %>" />
    <label for="use-case-workflow">
      <%= t('view.multi-select.assigned.label', model: t('model.workflow').to_s.pluralize) %>
    </label>
  </fieldset>

  <div class="row">
    <div class="col-12">
      <span id="base-selected-workflows" class="selected-element badge badge-secondary px-1 mb-1">
        <span class="text-label"></span>
        <a onclick="remove(this);" style="cursor: pointer;">
          <i class="fas fa-trash-alt"></i>
        </a>
        <input type="hidden"/>
      </span>
    </div>
  </div>

  <fieldset class="float-right mt-4">
    <%= form.submit t('view.general.submit'), :class => "btn btn-primary" %>
    <%= link_to t('view.general.back'), "javascript:window.history.back()", :class => 'btn btn-outline-secondary' %>
  </fieldset>
  <% end %>

<script>
  <% building_block.products.order("name").each do |product| %>
    addProduct('<%= product.id %>', '<%= product.name %>');
  <% end %>
  <% building_block.workflows.order("name").each do |workflow| %>
    addWorkflow('<%= workflow.id %>', '<%= workflow.name %>');
  <% end %>

  var editor = setUpEditor(<%= raw JSON.generate(@bbDesc.description) %>);
  var form = document.querySelector('#bb-form');
  form.onsubmit = function() {
    var bbDesc = $('#building_block_desc');
    bbDesc.val(JSON.stringify(editor.getContents()));
  };

</script>
