<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>
<div class="row">
  <a href="#" class="bb-show-hide ml-4" id="bb-show-more">
    <p class="float-left"><%= t('view.general.show-bb').to_s %></p>
  </a>
  <div id="bb-more" class="hidden">
    <section class="hero bg-secondary mb-2 ml-3 mr-3">
      <div class="col-12 ml-4 mt-2 text-white">
        <h5><strong><%= t('model.building-block').to_s.titleize.pluralize %></strong></h5>
        <div id="bb-desc">
          <p class="mr-4"><%= t('view.building-block.index.definition').to_s %></p>
          <strong><%= t('view.general.characteristics').to_s %></strong>
          <ul>
            <% t('view.building-block.index.characteristics').each_line do |point| %>
              <li><%= point %></li>
            <% end %>
          </ul>
          <strong><%= t('view.general.description').to_s %></strong>
          <p class="mr-4"><%= t('view.building-block.index.description').to_s %></p>
          <a href="#" id="bb-show-less" class="bb-show-hide hidden">
            <p class="float-left"><%= t('view.general.show-less').to_s %></p>
          </a>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <% if user_signed_in? && policy(BuildingBlock).mod_allowed? %>
      <%= link_to t('view.general.create'), new_building_block_path, :class => 'float-right small ml-1' %>
    <% end %>
  </div>
</div>

<div id="current-list">
<div id="building-block-index" class="row">
  <% if @building_blocks.count > 0 %>
    <% @building_blocks.each do |building_block| %>
      <div class="col-lg-5ths col-md-4 d-flex align-items-stretch mt-2">
        <div class="card index-card small">
          <div class="card-header bg-secondary text-white truncate-parent">
            <%= link_to building_block.name, building_block, class: 'truncate-text',
                'title' => building_block.name, 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
          </div>
          <div class="model-logo">
            <%= link_to(building_block) do %>
              <%= image_tag(building_block.image_file, class: 'card-img-top align-middle') %>
            <% end %>
          </div>

          <div class="card-footer footer-padding">
            <%
              workflows = bb_footer(building_block, 'workflows')
              if workflows.count > 0
                content = "<div class='footer-row' data-toggle='popover' data-placement='bottom'
                                data-html='true' data-content='#{bb_footer_popover(workflows, 'view.building-block.index.bb-workflow-popover')}'>"
                concat(content.html_safe)
                concat(image_tag(workflows[0][:filename], class: 'footer-img'))

                content = "<span class='text-muted ml-1'>#{building_block.workflows.size} #{t('model.workflow').titlecase.pluralize(building_block.workflows.size)}</span>"
                concat(content.html_safe)

                # When we have image for each workflow, we can use the following code.
                # workflows.each do |workflow|
                #   concat(image_tag(workflow[:filename], title: workflow[:tooltip],
                #                   class: 'footer-img', 'data-toggle': 'tooltip', 'data-placement': 'top'))
                # end
                concat('</div>'.html_safe)
              end

              products = bb_footer(building_block, 'products')
              if products.count > 0
                content = "<div class='footer-row' data-toggle='popover' data-placement='bottom'
                                data-html='true' data-content='#{bb_footer_popover(products, 'view.building-block.index.bb-product-popover')}'>"
                concat(content.html_safe)

                products.each do |product|
                  concat(image_tag(product[:filename], title: product[:tooltip],
                                 class: 'footer-img mr-1', 'data-toggle': 'tooltip', 'data-placement': 'top'))
                end
                concat('</div>'.html_safe)
              end

              if workflows.count == 0 || products.count == 0
                content = '<div class="footer-row"></div>'
                concat(content.html_safe)
              end
            %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
</div>

<script>
  $(".bb-show-hide").on('click', function(e) {
    e.preventDefault()
    $("#bb-more").toggleClass('hidden')
    $("#bb-show-more").toggleClass('hidden')
    $("#bb-show-less").toggleClass('hidden')
  })
</script>
