<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>
<div class="card">
  <h5 class="card-header bg-secondary text-white">
    <%= "#{t('model.building-block').to_s.titlecase}: #{@building_block.name}" %>
  </h5>
  <%= image_tag(@building_block.image_file, class: 'card-img-top px-2 py-2 mx-auto', style: 'width: auto; height: 250px;') %>
  <div class="card-body">
    <div id="bb-viewer" class="wysiwyg-viewer">
    </div>
    <p class="float-right mb-0" >
      <%= link_to t('view.general.back'), building_blocks_path, :class => "card-link" %>
      <% if user_signed_in? && policy(@building_block).mod_allowed? %>
        <%= link_to t('view.general.edit'), edit_building_block_path(@building_block), :class => "card-link" %>
      <% end %>
    </p>
  </div>
</div>

<% if @building_block.products %>
  <div class="mt-4">
    <div class="border rounded bg-secondary text-white clearfix border card-header">
      <h5 class="float-left mb-0"><%= t('model.product').to_s.pluralize.humanize %></h5>
    </div>
    <div class="row">
      <% if @building_block.products %>
        <% @building_block.products.each do |product| %>
          <div class="col-6 col-lg-4 mt-2">
            <div class="card flex-row">
              <%= link_to product do %>
                <%= image_tag(product.image_file, height: 75, class: 'card-image-top align-middle p-1') %>
              <% end %>
              <div class="card-body align-middle my-auto px-2 py-2">
                <%= link_to product.name, product %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<% if @building_block.workflows.count > 0 %>
  <div class="mt-4 mb-4">
    <div class="border rounded bg-secondary text-white clearfix border card-header">
      <h5 class="float-left mb-0"><%= t('model.workflow').to_s.pluralize.humanize %></h5>
    </div>

    <div class="row">
      <% @building_block.workflows.order("name").each do |workflow| %>
        <div class="col-6 col-lg-4 mt-1">
          <div class="card h-100">
            <div class="card-body px-2 py-2">
              <%= image_tag(workflow.image_file, class: 'footer-img') %>
              <span class="card-text text-muted"><%= link_to workflow.name, workflow %></span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<script>
    setUpViewer(<%= raw JSON.generate(@bbDesc.description) %>)
</script>
