<%= form_with(model: candidate_organization, local: true) do |form| %>

  <fieldset class="form-label-group">
    <%= form.text_field :name, id: :candidate_organization_name,
                        class: "form-control", placeholder: t('view.general.name') %>
    <%= form.label :name, t('view.general.name') %>
  </fieldset>

  <input id="original_name" type="hidden" value="<%= candidate_organization.name %>" />
  <div id="duplicate-warning" class="alert alert-warning">
    <%= t('view.general.duplicates', model: t('model.candidate-organization')) %>
  </div>

  <fieldset class="form-label-group">
    <%= form.text_field :website, id: :candidate_organization_website,
        class: "form-control", placeholder: t('view.organization.form.website') %>
    <%= form.label :website, t('view.organization.form.website') %>
  </fieldset>

  <% if candidate_organization.new_record? %>
    <h6 class="bg-secondary text-white border rounded p-3 mb-0">
      <%= t('model.contact').to_s.humanize %>
    </h6>
    <fieldset class="form-label-group mt-2">
      <input type="text" id="contact-name" name="contact[name]" class="form-control" required="true"
             placeholder="<%= t('view.general.name') %>" />
      <label for="contact-name">
        <%= t('view.general.name') %>
      </label>
    </fieldset>

    <fieldset class="form-label-group">
      <input type="text" id="contact-email" name="contact[email]" class="form-control"
             placeholder="<%= t('view.contact.form.email') %>" />
      <label for="contact-email">
        <%= t('view.contact.form.email') %>
      </label>
    </fieldset>

    <fieldset class="form-label-group">
      <input type="text" id="contact-title" name="contact[title]" class="form-control"
             placeholder="<%= t('view.contact.form.title') %>" />
      <label for="contact-title">
        <%= t('view.contact.form.title') %>
      </label>
    </fieldset>

    <%= recaptcha_tags callback: 'enableCandidateSubmission', site_key: Rails.application.secrets.captcha_site_key %>

    <fieldset class="float-right mt-4">
      <%= form.submit t('view.general.submit'), id: 'submit-candidate', :class => "btn btn-secondary", disabled: true %>
      <%= link_to t('view.general.back'), "javascript:window.history.back()", :class => 'btn btn-outline-secondary' %>
    </fieldset>
  <% end %>

  <% if candidate_organization.persisted? %>
    <h6 class="bg-secondary text-white border rounded p-3 mb-0">
      <%= t('model.contact').to_s.pluralize.humanize %>
    </h6>
    <fieldset class="form-label-group mt-2">
      <input type="text" id="contact-search" name="contact_label" class="form-control"
             placeholder="<%= t('view.multi-select.assigned.label', model: t('model.contact').to_s.pluralize) %>" />
      <label for="contact-label">
        <%= t('view.multi-select.assigned.label', model: t('model.contact').to_s.pluralize) %>
      </label>
    </fieldset>
    <div class="row">
      <div class="col-12">
        <span id="base-selected-contacts" class="selected-element badge badge-secondary px-1 mb-1">
          <span class="text-label"></span>
          <a onclick="remove(this);" style="cursor: pointer;">
            <i class="fas fa-trash-alt"></i>
          </a>
          <input type="hidden"/>
        </span>
      </div>
    </div>

    <fieldset class="float-right mt-4">
      <%= form.submit t('view.general.submit'), id: 'submit-candidate', :class => "btn btn-primary", disabled: !(candidate_organization.rejected.nil? || candidate_organization.rejected) %>
      <%= link_to t('view.general.back'), "javascript:window.history.back()", :class => 'btn btn-outline-secondary' %>
    </fieldset>
  <% end %>
<% end %>

<script>
  <% candidate_organization.contacts.order("name").each do |contact| %>
    addContact('<%= contact.id %>', '<%= contact.name %>');
  <% end %>
</script>
