<% if @candidate_organization.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= t('view.general.error', count: @candidate_organization.errors.count) %>
    </div>
  </div>
<% end %>
<h5 class="border rounded bg-secondary text-white p-3">
  <%= t('view.general.title.edit', model: t('model.candidate-organization')) %>
</h5>
<%= render 'form', candidate_organization: @candidate_organization %>
