<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<div class="row">
  <div class="col-8 mb-2">
    <% if user_signed_in? && policy(@candidate_organization).mod_allowed? %>
      <%= link_to 'Delete candidate organization', @candidate_organization, method: :delete,
                                                                            data: { confirm: 'Are you sure?' },
                                                                            class: 'btn btn-outline-secondary float-left ml-1' %>
    <% end %>
  </div>
</div>
<div class="border rounded bg-secondary text-white clearfix border card-header">
  <h5 class="float-left mb-0">
    <%= "#{t('model.candidate-organization').to_s.humanize}:  #{@candidate_organization.name}" %>
  </h5>
</div>

<div class="mt-2">
  <div class="row">
    <div class="col-lg-8 col-12">
      <p class="m-2">
        <strong><%= "#{t('view.candidate-organization.index.website')}:" %></strong>
        <%= link_to @candidate_organization.website.downcase.strip, "//#{@candidate_organization.website.downcase.strip}", target: :_blank %>
      </p>
      <p class="m-2">
        <strong><%= "#{t('view.candidate-organization.index.status')}:" %></strong>
        <%= @candidate_organization.rejected.nil? ?
            t('view.candidate-organization.index.status-new') :
            @candidate_organization.rejected ?
              t('view.candidate-organization.index.status-rejected') :
              t('view.candidate-organization.index.status-approved')
        %>
      </p>
    </div>
  </div>
  <p class="float-right mb-0 mr-2" >
    <% if user_signed_in? && policy(@candidate_organization).mod_allowed? %>
      <%= link_to 'Back', candidate_organizations_path, :class => "card-link" %>
      <%= link_to 'Edit', edit_candidate_organization_path(@candidate_organization), :class => "card-link" %>
    <% end %>
  </p>
</div>

<% if user_signed_in? && policy(Contact).view_allowed? %>
  <div class="mt-4">
    <div class="border rounded bg-secondary text-white clearfix border card-header">
      <h5 class="float-left mb-0"><%= t('model.contact').to_s.pluralize.humanize %></h5>
    </div>
    <% if @candidate_organization.contacts.count > 0 %>
      <div class="row">
        <% @candidate_organization.contacts.order("name").each do |contact| %>
          <div class="col-6 col-lg-4 mt-2">
            <div class="card h-100">
              <div class="card-body py-2">
                <h5 class="card-title"><%= link_to contact.name, contact %></h5>
                <h6 class="card-subtitle text-muted"><%= contact.email %></h6>
                <% if contact.title %>
                  <p class="card-text"><%= contact.title %></p>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <%= t('view.general.not-available', model: t('model.organization'), multi: t('model.contact').to_s.pluralize) %>
    <% end %>
  </div>
<% end %>
