<%= form_with(model: product_suite, local: true) do |form| %>

  <fieldset class="form-label-group">
    <%= form.text_field :name, id: :product_suite_name,
                               required: true, class: "form-control",
                               placeholder: t('view.general.name') %>
    <%= form.label :name, t('view.general.name') %>
  </fieldset>

  <fieldset class="form-label-group">
    <%= form.text_field :description, id: :product_suite_description,
                                      class: "form-control",
                                      placeholder: t('view.general.descriptionname') %>
    <%= form.label :description, t('view.general.description') %>
  </fieldset>

  <input id="original_name" type="hidden" value="<%= product_suite.name %>" />
  <div id="duplicate-warning" class="alert alert-warning">
    <%= t('view.general.duplicates', model: t('model.product-suite')) %>
  </div>

  <h6 class="bg-secondary text-white border rounded p-3 mb-0">
    <%= t('view.multi-select.assigned.title', model: t('model.product').to_s.pluralize.humanize) %>
  </h6>
  <fieldset class="form-label-group mt-2">
    <input type="text" id="ps-product-search" class="form-control"
           placeholder="<%= t('view.multi-select.assigned.label', model: t('model.product').to_s.pluralize) %>" />
    <label for="ps-product-search">
      <%= t('view.multi-select.assigned.label', model: t('model.product').to_s.pluralize) %>
    </label>
  </fieldset>
  <fieldset id="ps-product-version" class="form-label-group mt-2">
      <select id="ps-product-version-selection" class="custom-select" style="height: calc(1.5em + 0.75rem + 15px);">
        <option value=-1>All versions</option>
      </select>
  </fieldset>
  <div class="row">
    <div class="col-12">
      <span id="ps-selected-versions" class="selected-element badge badge-secondary px-1 mb-1">
        <span class="text-label"></span>
        <a onclick="remove(this);" style="cursor: pointer;">
          <i class="fas fa-trash-alt"></i>
        </a>
        <input type="hidden"/>
      </span>
    </div>
  </div>

  <fieldset class="float-right mt-4">
    <%= form.submit t('view.general.submit'), :class => "btn btn-primary" %>
    <%= link_to t('view.general.back'), "javascript:window.history.back()", :class => 'btn btn-outline-secondary' %>
  </fieldset>
<% end %>


<script>
  <% product_suite.product_versions.each do |product_version| %>
    appendVersions('<%= product_version.id %>', '<%= "#{product_version.product.name} #{product_version.version}" %>');
  <% end %>
</script>
