<% if @product_suite.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= t('view.general.error', count: @product_suite.errors.count) %>
    </div>
  </div>
<% end %>
<h5 class="border rounded bg-secondary text-white p-3">
  <%= t('view.general.title.edit', model: t('model.product-suite')) %>
</h5>
<%= render 'form', product_suite: @product_suite %>
