<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>
<div class="card">
  <h5 class="card-header bg-secondary text-white">
    <%= "#{t('model.product-suite').to_s.titlecase}: #{@product_suite.name}" %>
  </h5>
  <div class="card-body py-2 pl-2">
    <div class="row">
      <% @product_suite.product_versions.each do |product_version| %>
        <div class="col-lg-5ths col-md-4 d-flex align-items-stretch mt-2">
          <div class="card index-card small">
            <div class="card-header bg-secondary text-white truncate-parent">
              <%= link_to "#{product_version.product.name} #{product_version.version}", product_version.product,
                  class: 'truncate-text',
                  title: "#{product_version.product.name} #{product_version.version}",
                  'data-toggle': 'tooltip', 'data-placement': 'top' %>
            </div>
            <div class="model-logo">
              <%= link_to(product_version.product) do %>
                <%= image_tag(product_version.product.image_file, class: 'card-img-top align-middle', skip_pipeline: true) %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="float-right" >
      <%= link_to t('view.general.back'), product_suites_path, :class => "card-link" %>
      <% if user_signed_in? && policy(@product_suite).mod_allowed? %>
        <%= link_to t('view.general.edit'), edit_product_suite_path(@product_suite), :class => "card-link" %>
      <% end %>
    </div>
  </div>
</div>
