// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jarallax {
    position: relative;
    z-index: 0;
}
.jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    /* support for plugin https://github.com/bfred-it/object-fit-images */
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.purple-slight {
    background-color: rgba(0,0,67,.4);
}

.clickable-image {
    border: solid 1px #ccc;
    border-radius:10px;
    box-shadow: 0 2px 1px 0 #bbbbbb;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.flex-image-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-img {
    height: 100vh;
}

.arch-map {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vh;
}

.text-muted a {
    color: #6c757d !important;
    text-decoration: none !important;
}

.text-left {
    text-align: left !important;
}

.icon-inline {
  display: inline;
}

.top-no-hover {
  position: absolute;
  top: 10px;
  right: 10px;
}

.no-hover:hover {
  text-decoration: none !important;
}

.cookies-eu-ok {
  background-color: #000043 !important;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */

}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

