/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require jquery-ui
 *= require cookies_eu
 *= require quill.snow
 *= require_tree .
 *= require_self
 */

$font-size-base: 0.85rem;
@import 'bootstrap';

body,
html {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  padding-top: 102px;
}

p.text-success, p.text-error {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.g-recaptcha {
  :first-child {
    height: 84px !important;
  }
}

a {
  /* color: #000043; */
  color: #fbab18;
}

a:hover {
  color: #000043
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: .9rem;
}

.form-control {
  font-size: .9rem
}

.model-logo {
  display:flex;
  align-items:center;
  flex-grow: 1;
  min-height: 195px;
}

.project-logo-frame {
  min-height: 195px;
  min-width: 195px;
}

.project-logo {
  display:flex;
  align-items:center;
  justify-content: center;
  height: 95px;
  width: 95px;
  padding: 0.6rem;
}

.index-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .card-header {
    padding: 0.25rem 0.5rem;
  }

  .card-footer {
    padding: 0.75rem;
  }
}

.col-lg-2 {
  padding-right: 0px;
}

.card-header {
  a {
    color: #fff
  }
}

.card-header {
  a:hover {
    color: #fbab18
  }
}

#content {
  flex: 1;
  padding-bottom: 1rem;
}

.placeholder {
  color: #5A667F;
  transform: scale(.85);
}

.form-inline {
  .form-control {
    width: auto;
  }

  .form-group {
    display: inline-block;
  }
}

#search-form {
  input[type=text] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  input[type=submit] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.map-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #cccccc;
  left: -3.1rem;
  min-width: 18rem;

  &:after, &:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-bottom-color: white;
    border-width: 0.5rem;
    left: 3rem;
    margin-left: -0.5rem;
  }

  &:before {
    border-bottom-color: #cccccc;
    border-width: 0.5rem;
    left: 3rem;
    margin-left: -0.5rem;
  }

  ul {
    max-height: 200px;
    overflow-x: scroll;
    margin-block-end: 0;
  }
}

.card-deck {
  margin-bottom: 1rem;
}

.card-deck > .card {
  display:inline-block;
}

.card-placeholder {
  border: none;
}

.snug {
  padding: 0 !important;
}

.snug > .card-img-top {
  padding: 0.1rem;
}

.card-img-top {
  padding: 1.4rem;
}

.office-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 0.1rem;
  border-radius: 5px;
  border: 1px solid #cccccc;
  bottom: -4rem;
  left: -9.1rem;
  min-width: 18rem;

  &:after, &:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-bottom-color: white;
    border-width: 0.5rem;
    left: 9rem;
    margin-left: -0.5rem;
  }

  &:before {
    border-bottom-color: #cccccc;
    border-width: 0.5rem;
    left: 9rem;
    margin-left: -0.5rem;
  }
}

.launch-popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.launch-popup .launch-popuptext {
  visibility: hidden;
  width: 400px;
  background-color: #DDD;
  color: #fff;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: -50px;
  left: 150px;
  margin-left: -80px;
}

.launch-popup .launch-popuptext::after {
  content: "";
  position: absolute;
  top: 88px;
  left: -5px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  transform: rotate(90deg);
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.launch-popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.field-valid {
  display: none;
}

.hidden {
  display: none;
}

/* Extend bootstrap to allow 5 equal columns in a row */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    max-width: 20%;
    flex: 0 0 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        max-width: 20%;
        flex: 0 0 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        max-width: 20%;
        flex: 0 0 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        max-width: 20%;
        flex: 0 0 20%;
        float: left;
    }
}

.wysiwyg-viewer.ql-container.ql-snow {
  border: none;
}

.truncate-parent {
  display: flex;
  justify-content: space-between;
}

.truncate-text {
  overflow: hidden;
    padding: 5px;
    min-width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.selected-element.badge {
  max-width: 20rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hero {
  display: flex;
  align-items: center;
}

.ql-editor {
  min-height: 6rem;
}

.ql-container {
  height: auto !important;
}
