.ui-state-active {
    border: none;
    background: #f0f0f0;
    font-weight: normal;
    color: #6c757d;
}

.ui-state-default {
    background: #f0f0f0
}

.ui-state-focus { outline: none; }

.ui-state-active i {
    color:#6c757d;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

div.nav-container {
  padding: 0;
}

#filter-nav {
    top: 102px;
    position:sticky;
    border:none;

    h5.nav-header {
      margin: 0;
    }

    .ui-accordion-header {
      color: white;
      margin: 0 !important;
      border: none;
      border-radius: 0 !important;
      border: solid 1px #343a40;

      &.ui-state-hover.ui-accordion-header-collapsed {
        border: solid 1px rgb(70, 70, 70);
      }

      &.ui-accordion-header-active {
        border-top:  solid 1px rgb(70, 70, 70);
        border-left:  solid 1px rgb(70, 70, 70);
        border-right:  solid 1px rgb(70, 70, 70);
        border-bottom: none;
      }
    }

    .ui-widget-content a {
      color: white !important;
    }

    .accordion-body {
      color: white;
      padding: .2rem !important;
      border-bottom:  solid 1px rgb(70, 70, 70);
      border-left:  solid 1px rgb(70, 70, 70);
      border-right:  solid 1px rgb(70, 70, 70);
      border-radius: 0;

      select {
        width: auto;
        max-width: 100%;
      }
    }

    .card-header {
      border: none;
      border-radius: 0;
    }

    .filter-tag {
      padding: 0.2rem;
      margin: 0.2rem;

      .fa-window-close {
        margin-left: 0.2rem;
      }
    }

    .header-link-button {
      display: inline;
    }

    .header-link-button span:hover {
      text-decoration: underline;
    }
}

@-moz-document url-prefix() {
  .checkbox-align {
    margin-top: 0 !important;
  }
}

@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
  .selector:not(*:root), .checkbox-align {
    margin-top: 0.2rem !important;
  }
}
