/* Footer */
#footer {
  padding: 6em 0 4em;
  background-color: #000043;
  text-align: center;

  ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;

    li {
      display: inline-block;
      padding: 0 1em 0 0;

      &:last-child {
        padding-right: 0 !important;
      }
    }
  }

  .icon {
    font-size: 1.25em;
    text-decoration: none;
    border-bottom: none;
    position: relative;

    &:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-transform: none;
    }

    > .label {
      display: none;
    }
  }

  a {
    color: rgba(255, 255, 255, 0.5);

    &:hover {
      color: #fff;
    }
  }

  .sponsors {
    background-color: #eee9f0;
    padding: 1em;

    li.description {
      color: black;
      display: block;
    }

    a {
      color: black;
    }
  }

  .copyright {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8em;
    letter-spacing: 0;
    list-style: none;
    padding: 0;
    text-transform: uppercase;

    li {
      border-left: solid 1px rgba(255, 255, 255, 0.5);
      display: inline-block;
      line-height: 1em;
      margin-left: 1em;
      padding-left: 1em;

      &:first-child {
        border-left: 0;
        margin-left: 0;
        padding-left: 0;
      }

      a:hover {
        color: #fff;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  #footer .copyright li {
    border: 0;
    display: block;
    line-height: 1.65em;
    margin: 0;
    padding: 0.5em 0;
  }
}
@media screen and (max-width: 980px) {
  #footer {
    padding: 4em 0 2em;
  }
}
@media screen and (max-width: 736px) {
  #footer {
    padding: 3em 0 1em;
  }
}
