#header {
    z-index: 2030;
    background-color: #000043;
}

#header .dropdown-item {
    color: #000043;
}

#filter-nav {
  option {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }

  .remove-filter {
    cursor: pointer;
  }

  .accordion-body {
    overflow: hidden;
  }
}

#summary-nav {
  position: sticky;
  top: 102px;
  z-index: 220;

  font-size: .9rem;
  font-weight: bolder;

  .badge {
    font-size: .9rem;
  }

  .list-group-item {
    border: 0px;
    padding: 0.25rem;
    white-space: nowrap;

    &:first-child {
      border-left: 0px;
    }
  }
}

#active-filter {
  .close-icon {
    cursor: pointer;
  }

  .more-others {
    font-style: italic;
    cursor: pointer;
  }

  .list-group-item {
    border: 0px;
    display: list-item;
    padding: 0.25rem;
  }
}

.navbar-nav {
    .nav-link {
        color: white !important;
    }
}

.navbar-nav {
    .nav-link:hover {
       /* color: #bbbbbb !important; */
       color: #fbab18 !important;
    }
}

.avatar-circle {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: #fbab18;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.dropdown-toggle-avatar::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.08em;
    content: "";
    border-top: 0.32em solid;
    border-right: 0.32em solid transparent;
    border-bottom: 0;
    border-left: 0.32em solid transparent;
}

.initials {
    position: relative;
    top: 5px; /* 25% of parent */
    font-size: 22px; /* 50% of parent */
    line-height: 22px; /* 50% of parent */
    color: #fff;
    font-weight: bold;
}
