  <%= form_with(model: organization, multipart: true, local: true, html: { id: 'organization-form' }) do |form| %>

    <fieldset class="form-label-group">
      <%= form.text_field :name, id: :organization_name,
                          disabled: !policy(organization).permitted_attributes.include?(:name),
                          class: "form-control", placeholder: t('view.general.name') %>
      <%= form.label :name, t('view.general.name') %>
    </fieldset>

    <input id="original_name" type="hidden" value="<%= organization.name %>" />
    <div id="duplicate-warning" class="alert alert-warning">
      <%= t('view.general.duplicates', model: t('model.organization')) %>
    </div>

    <div id="other-name-label" class="mt-2"><%= "#{t('view.organization.form.other-names')}:" %></div>
    <div id="other-names">
      <div id="base-other-name" class="form-inline mt-2 mb-2">
        <input type="text" name="other_names[]" class="form-control col-10"
               style="height: calc(1.5em + 0.75rem + 12px);" 
               <% !policy(organization).permitted_attributes.include?(:aliases) && concat('disabled') %>
               placeholder="<%= t('view.organization.form.other-names') %>" aria-labelledby="other-name-label" />
        <div class="input-group-append">
          <% if policy(organization).permitted_attributes.include?(:aliases) %>
            <button type="submit" class="btn btn-primary ml-2 add-other-name">+</button>
            <button type="submit" class="btn btn-primary ml-2 remove-other-name">-</button>
          <% end %>
        </div>
      </div>
    </div>

    <%= form.hidden_field :organization_description, id: :organization_description %>
    <div class="wysiwyg-editor">
    </div>
  
    <fieldset class="custom-file mt-2">
      <input type="file" id="logo-file" name="logo" class="custom-file-input" aria-describedby="logo-file" />
      <label class="custom-file-label" for="logo-file">
        <%= t('view.general.logo') %>
      </label>
    </fieldset>

    <fieldset class="form-label-group mt-2">
      <%= form.text_field :when_endorsed,
          disabled: !policy(organization).permitted_attributes.include?(:when_endorsed),
          value: organization.when_endorsed.blank? ? '' : organization.when_endorsed.strftime("%m/%d/%Y"),
          id: :organization_when_endorsed, class: "form-control data-date",
          placeholder: t('view.organization.form.when-endorsed') %>
      <%= form.label :when_endorsed, t('view.organization.form.when-endorsed') %>
    </fieldset>

    <fieldset class="form-label-group">
      <%= form.text_field :website, id: :organization_website,
          disabled: !policy(organization).permitted_attributes.include?(:website),
          class: "form-control", placeholder: t('view.organization.form.website') %>
      <%= form.label :website, t('view.organization.form.website') %>
    </fieldset>

    <% if organization.new_record? %>
      <h6 class="bg-secondary text-white border rounded p-3 mb-0">
        <%= t('model.contact').to_s.humanize %> 
      </h6>
      <fieldset class="form-label-group mt-2">
        <input type="text" id="contact-name" name="contact[name]" class="form-control" required="true"
               placeholder="<%= t('view.general.name') %>" />
        <label for="contact-name">
          <%= t('view.general.name') %>
        </label>
      </fieldset>

      <fieldset class="form-label-group">
        <input type="text" id="contact-email" name="contact[email]" class="form-control"
               placeholder="<%= t('view.contact.form.email') %>" />
        <label for="contact-email">
          <%= t('view.contact.form.email') %>
        </label>
      </fieldset>

      <fieldset class="form-label-group">
        <input type="text" id="contact-title" name="contact[title]" class="form-control"
               placeholder="<%= t('view.contact.form.title') %>" />
        <label for="contact-title">
          <%= t('view.contact.form.title') %>
        </label>
      </fieldset>
    <% end %>

    <% if organization.persisted? %>
      <h6 class="bg-secondary text-white border rounded p-3 mb-0">
        <%= t('model.contact').to_s.pluralize.humanize %> 
      </h6>
      <fieldset class="form-label-group mt-2">
        <input type="text" id="contact-search" name="contact_label" class="form-control"
               placeholder="<%= t('view.multi-select.assigned.label', model: t('model.contact').to_s.pluralize) %>" />
        <label for="contact-label">
          <%= t('view.multi-select.assigned.label', model: t('model.contact').to_s.pluralize) %>
        </label>
      </fieldset>
      <div class="row">
        <div class="col-12">
          <span id="base-selected-contacts" class="selected-element badge badge-secondary px-1 mb-1">
            <span class="text-label"></span>
            <a onclick="remove(this);" style="cursor: pointer;">
              <i class="fas fa-trash-alt"></i>
            </a>
            <input type="hidden"/>
          </span>
        </div>
      </div>
    <% end %>

    <% if !organization.is_mni ### Start for non-MNI data section. ### %>
    <h6 class="bg-secondary text-white border rounded p-3 mb-0">
      <%= t('model.office').to_s.pluralize.humanize %> 
    </h6>
    <fieldset class="form-label-group mt-2">
      <input type="text" id="office-label" name="office_label" class="form-control"
             placeholder="<%= t('view.multi-select.assigned.label', model: t('model.office').to_s.pluralize) %>" />
      <label for="office-label">
        <%= t('view.multi-select.assigned.label', model: t('model.office').to_s.pluralize) %>
      </label>
    </fieldset>
    <div class="row">
      <div class="col-12">
        <span id="base-selected-offices" class="selected-element badge badge-secondary px-1 mb-1">
          <span class="text-label"></span>
          <a onclick="remove(this);" style="cursor: pointer;">
            <i class="fas fa-trash-alt"></i>
          </a>
          <input type="hidden"/>
          <input type="hidden"/>
        </span>
      </div>
    </div>

    <fieldset class="form-group form-check">
      <%= form.check_box :is_endorser, id: :organization_is_endorser,
          disabled: !policy(organization).permitted_attributes.include?(:is_endorser),
          class: "form-check-input" %>
      <%= form.label :is_endorser, t('view.organization.form.endorser'), class: "form-check-label" %>
    </fieldset>

    <fieldset class="form-group form-check">
      <%= form.check_box :is_mni, id: :organization_is_aggregator,
          disabled: !policy(organization).permitted_attributes.include?(:is_mni),
          class: "form-check-input" %>
      <%= form.label :is_mni, t('view.organization.form.aggregator'), class: "form-check-label" %>
    </fieldset>

    <h6 class="bg-secondary text-white border rounded p-3 mb-0">
      <%= t('model.sector').to_s.pluralize.humanize %> 
    </h6>
    <fieldset class="form-label-group mt-2">
      <input type="text" id="sector-search" class="form-control"
             placeholder="<%= t('view.multi-select.assigned.label', model: t('model.sector').to_s.pluralize) %>" />
      <label for="sector-search">
        <%= t('view.multi-select.assigned.label', model: t('model.sector').to_s.pluralize) %>
      </label>
    </fieldset>
    <div class="row">
      <div class="col-12">
        <span id="base-selected-sectors" class="selected-element badge badge-secondary px-1 mb-1">
          <span class="text-label"></span>
          <a onclick="remove(this);" style="cursor: pointer;">
            <i class="fas fa-trash-alt"></i>
          </a>
          <input type="hidden"/>
        </span>
      </div>
    </div>

    <h6 class="bg-secondary text-white border rounded p-3 mb-0">
      <%= t('model.product').to_s.pluralize.humanize %> 
    </h6>
    <fieldset class="form-label-group mt-2">
      <input type="text" id="product-search" class="form-control"
             placeholder="<%= t('view.multi-select.assigned.label', model: t('model.product').to_s.pluralize) %>" />
      <label for="product-search">
        <%= t('view.multi-select.assigned.label', model: t('model.product').to_s.pluralize) %>
      </label>
    </fieldset>
    <div class="row">
      <div class="col-12">
        <span id="base-selected-products" class="selected-element badge badge-secondary px-1 mb-1">
          <span class="text-label"></span>
          <a onclick="remove(this);" style="cursor: pointer;">
            <i class="fas fa-trash-alt"></i>
          </a>
          <input type="hidden"/>
        </span>
      </div>
    </div>

    <h6 class="bg-secondary text-white border rounded p-3 mb-0">
      <%= t('model.project').to_s.pluralize.humanize %> 
    </h6>
    <fieldset class="form-label-group mt-2">
      <input type="text" id="project-search" class="form-control"
             placeholder="<%= t('view.multi-select.assigned.label', model: t('model.product').to_s.pluralize) %>" />
      <label for="project-search">
        <%= t('view.multi-select.assigned.label', model: t('model.project').to_s.pluralize) %>
      </label>
    </fieldset>
    <div class="row">
      <div class="col-12">
        <span id="base-selected-projects" class="selected-element badge badge-secondary px-1 mb-1">
          <span class="text-label"></span>
          <a onclick="remove(this);" style="cursor: pointer;">
            <i class="fas fa-trash-alt"></i>
          </a>
          <input type="hidden"/>
        </span>
      </div>
    </div>

    <h6 class="bg-secondary text-white border rounded p-3 mb-0">
      <%= t('model.country').to_s.pluralize.humanize %> 
    </h6>
    <fieldset class="form-label-group mt-2">
      <input type="text" id="country-search" class="form-control"
             placeholder="<%= t('view.multi-select.assigned.label', model: t('model.country').to_s.pluralize) %>" />
      <label for="country-search">
        <%= t('view.multi-select.assigned.label', model: t('model.country').to_s.pluralize) %>
      </label>
    </fieldset>
    <div class="row">
      <div class="col-12">
        <span id="base-selected-countries" class="selected-element badge badge-secondary px-1 mb-1">
          <span class="text-label"></span>
          <a onclick="remove(this);" style="cursor: pointer;">
            <i class="fas fa-trash-alt"></i>
          </a>
          <input type="hidden"/>
        </span>
      </div>
    </div>
    <% end  ### End of non-MNI section ### %> 
      
    <% if organization.is_mni %>
      <h6 class="bg-secondary text-white border rounded p-3 mb-0">
        <%= t('model.country').to_s.pluralize.humanize %> 
      </h6>
      <fieldset class="form-label-group mt-2">
        <input type="text" id="country-search" class="form-control"
              placeholder="<%= t('view.multi-select.assigned.label', model: t('model.country').to_s.pluralize) %>" />
        <label for="country-search">
          <%= t('view.multi-select.assigned.label', model: t('model.country').to_s.pluralize) %>
        </label>
      </fieldset>
      <div class="row">
        <div class="col-12">
          <span id="base-selected-countries" class="selected-element badge badge-secondary px-1 mb-1">
            <span class="text-label"></span>
            <a onclick="remove(this);" style="cursor: pointer;">
              <i class="fas fa-trash-alt"></i>
            </a>
            <input type="hidden"/>
          </span>
        </div>
      </div>
      <div class="mt-4">
        <div class="border rounded bg-secondary text-white clearfix border card-header">
          <h5 class="float-left mb-0"><%= t('model.operator_services').to_s.pluralize.humanize %></h5>
        </div>
        <div id="orgId" style="display:none"><%= @organization.id %></div>
        <div id="agg-nav" class="card-body p-2 col-6 col-lg-4 mt-2 ml-4 accordion-section ">
          <div class="mni-accordion">
            <% @organization.locations.each do |country| %>
              <h3 class="country-list" id="<%= country.id %>"><%= country.name %></h3>
              <div>
                <div class="mni-accordion">
                  <% @core_services.each do |service| %>
                    <h3 class="country-service" id="<%= country.id %>_<%= service %>"><%= service %></h3>
                    <div class="capability">
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <fieldset class="float-right mt-4">
      <%= form.submit t('view.general.submit'), :class => "btn btn-primary" %>
      <%= link_to t('view.general.back'), "javascript:window.history.back()", :class => 'btn btn-outline-secondary' %>
    </fieldset>
  <% end %>

<script>
  <% organization.sectors.order("name").each do |sector| %>
    addSector('<%= sector.id %>', '<%= sector.name %>');
  <% end %>
  <% organization.products.order("name").each do |product| %>
    addProduct('<%= product.id %>', '<%= product.name %>');
  <% end %>
  <% organization.projects.order("name").each do |project| %>
    addProject('<%= project.id %>', '<%= project.name %>');
  <% end %>
  <% organization.locations.where.not(location_type: 'point').order("name").each do |location| %>
    addLocation('<%= location.id %>', '<%= location.name %>');
  <% end %>
  <% organization.locations.where(location_type: 'point').order("name").each do |location| %>
    addOffice('<%= location.name %>', '<%= location.id %>', null);
  <% end %>
  <% organization.organizations_contacts.joins(:contact).where('ended_at is null').order('contacts.name').each do |organizations_contact| %>
    addContact('<%= organizations_contact.contact.id %>', '<%= organizations_contact.contact.name %>');
  <% end %>

  <% organization.aliases.each {|other_name| %>
    addOtherName('<%= other_name %>');
  <% } %>

  var editor = setUpEditor(<%= raw JSON.generate(@organization_description.description) %>, '<%= t('view.organization.form.description-placeholder') %>');
  var form = document.querySelector('#organization-form');
  form.onsubmit = function() {
    var organizationDescription = $('#organization_description');
    organizationDescription.val(JSON.stringify(editor.getContents()));
  };
</script>
