<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<div class="row">
  <div class="col-12">
    <div class="float-right">
      <% if user_signed_in? && policy(Organization).mod_allowed? %>
        <%= link_to t('view.general.create'), new_organization_path, :class => 'small mr-1' %>
        <span class="small mr-1">&nbsp;|</span>
        <%= link_to t('view.organization.index.view-audit'), audits_path(type: "Organization"), :class => 'small mr-1' %>
      <% end %>
      <% if !user_signed_in? %>
        <%= link_to t('view.general.create'), new_candidate_organization_path, :class => 'small mr-1' %>
      <% end %>
    </div>
    <%= form_with(url: export_path, :method => :get, :data => {remote: false}, :class => 'inline-form'  ) do | form | %>
      <%= form.hidden_field :export_contacts, :value => false %>
      <%= form.submit t('view.organization.index.export'), class: 'btn btn-link float-right px-1 py-0',
                      style: 'color: #fbab18; font-size: 80%;', data: { disable_with: false } %>
      <% if user_signed_in? && policy(Organization).export_contacts_allowed? %>
        <fieldset class="form-check" style="margin-top: -1px;">
          <%= form.check_box :export_contacts, {id: 'export_contacts', class: "form-check-input checkbox-align"}, true, false %>
          <label class="form-check-label text-muted" for="export_contacts" style="font-size: 80%;">
            <%= t('view.organization.index.export-option') %>
          </label>
        </fieldset>
      <% end %>
    <% end %>
  </div>
</div>

<div id="current-list">
<div class="row">
  <% @organizations.each do |organization| %>
    <div class="col-lg-5ths col-md-4 d-flex align-items-stretch mt-2">
      <div class="card index-card small">
        <div class="card-header bg-secondary text-white truncate-parent">
          <%= link_to organization.name, organization, class: 'truncate-text',
              'title' => organization.name, 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
        </div>
        <div class="model-logo">
          <%= link_to(organization) do %>
            <%= image_tag(organization.image_file, class: 'card-img-top align-middle', skip_pipeline: true) %>
          <% end %>
        </div>

        <div class="card-footer">
          <% if organization.website.present? %>
            <small>
              <a href="<%= "//" + organization.website %>" target="_blank" rel="noreferrer noopener">
                <%= t('view.organization.form.website').to_s.downcase %> &#x29c9;
              </a>
            </small>
            <br/>
          <% end %>
          <% if organization.is_endorser %>
          <small class="text-muted">
            <%= raw "#{image_tag('digiprins.png', width: 16)} #{t('view.organization.index.endorsed-date')}  #{organization.when_endorsed.year}" %>
          </small>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
