<div id="map" class="map" style="height:640px;">
</div>
<div id="popup" class="map-popup"></div>
<div class="form-inline">
  <div class="form-group col-12">
    <div class="float-right">
      <select id="sector" class="custom-select">
        <option value=-1>
          <%= t('view.organization.map.all-sectors') %>
        </option>
      </select>
      <select id="year" class="custom-select">
        <option value=-1>
          <%= t('view.organization.map.all-years') %>
        </option>
      </select>
    </div>
  </div>
</div>


<script>
    mapObject.initMap();
</script>
