<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<div class="row">
  <div class="col-8 mb-2">
    <% if user_signed_in? && policy(Organization).mod_allowed? %>
      <%= link_to 'Delete this organization', @organization, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-outline-secondary float-left ml-1' %>
    <% end %>
  </div>
</div>
<div class="border rounded bg-secondary text-white clearfix border card-header">
  <h5 class="float-left mb-0">
    <%= "#{t('model.organization').to_s.humanize}:  #{@organization.name}" %>
    <% if @organization.is_endorser %>
      <i class="fas fa-check-circle text-success ml-2"></i>
    <% end %>
  </h5>
</div>

<div class="mt-2">
  <div class="row">
    <% if @organization.locations.find_all{|location| location.location_type == 'point'}.first %>
      <div class="col-lg-4 col-12">
        <div id="office" style="max-height: 28rem;"></div>
        <div id="office-popup" class="office-popup"></div>
      </div>
    <% end %>
    <div class="col-lg-8 col-12">
      <% if !@organization.aliases.empty? %>
        <p class="m-2">
          <strong><%= t('view.organization.form.other-names') %>:</strong>
          <ul>
            <% @organization.aliases.each{|other_name| %>
              <li><%= other_name %></li>
            <%}%>
          </ul>
        </p>
      <% end %>
      <% if !@organization.is_mni %>
        <p class="m-2">
          <strong><%= "#{t('view.organization.index.endorsed-date')}:" %></strong>
          <%= @organization.when_endorsed.nil? ? '' : @organization.when_endorsed.strftime("%m/%d/%Y") %>
        </p>
      <% end %>
      <% if !@organization_description.description.nil? && !@organization_description.description.empty? && @organization_description.description != "{}" %>
        <p class="m-2">
          <strong><%= t('view.organization.index.description') %>:</strong>
          <div id="product-viewer" class="wysiwyg-viewer"></div>
        </p>
      <% end %>
      <% if !@organization.website.nil? %>
        <p class="m-2">
          <strong><%= "#{t('view.organization.form.website')}:" %></strong>
          <%= link_to @organization.website.downcase.strip, "//#{@organization.website.downcase.strip}", target: :_blank %>
        </p>
      <% end %>
      <% if @organization.locations.find_all{|location| location.location_type == 'point'}.count > 1 %>
        <p class="m-2">
          <strong><%= "#{t('view.organization.show.other-offices')}:" %></strong>
          <ul>
          <% @organization.locations
                .find_all{ |location| location.location_type == 'point' }
                .drop(1)
                .each do |office| %>
            <li><%= office.name %></li>
          <% end %>
          </ul>
        </p>
      <% end %>
    </div>
  </div>
  <p class="float-right mb-0 mr-2" >
    <%= link_to 'Back', organizations_path, :class => "card-link" %>
    <% if user_signed_in? && policy(@organization).mod_allowed? %>
      <%= link_to t('view.general.edit'), edit_organization_path(@organization), :class => "card-link" %>
    <% end %>
  </p>
</div>

<% if user_signed_in? && (policy(Contact).view_allowed? || policy(@organization).mod_allowed?) %>
  <div class="mt-4">
    <div class="border rounded bg-secondary text-white clearfix border card-header">
      <h5 class="float-left mb-0"><%= t('model.contact').to_s.pluralize.humanize %></h5>
    </div>
    <% if @organization.organizations_contacts.count > 0 %>
      <div class="row">
        <% @organization.organizations_contacts.joins(:contact).order('contacts.name').each do |organization_contact| %>
          <div class="col-6 col-lg-4 mt-2">
            <div class="card h-100">
              <div class="card-body py-2">
                <h5 class="card-title"><%= link_to organization_contact.contact.name, organization_contact.contact %></h5>
                <h6 class="card-subtitle text-muted"><%= organization_contact.contact.email %></h6>
                <% if !organization_contact.contact.title.blank? %>
                  <p class="card-text"><%= organization_contact.contact.title %></p>
                <% end %>
                <p class="card-text text-muted small">
                <%= t('view.organization.show.with-org') %>:
                <%= organization_contact.started_at.nil? ?
                    t('view.organization.show.unknown') :
                    organization_contact.started_at.strftime("%m/%d/%Y") %>
                  -
                <%= organization_contact.ended_at.nil? ?
                    t('view.organization.show.current') :
                    organization_contact.ended_at.strftime("%m/%d/%Y") %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <%= t('view.general.not-available', model: t('model.organization'), multi: t('model.contact').to_s.pluralize) %>
    <% end %>
  </div>
<% end %>

<% if !@organization.is_mni ### Start for non-MNI data section. ### %>
<div class="mt-4">
  <div class="border rounded bg-secondary text-white clearfix border card-header">
    <h5 class="float-left mb-0"><%= t('model.sector').to_s.pluralize.humanize %></h5>
  </div>
  <% if @organization.sectors.count > 0 %>
    <div class="row">
      <% @organization.sectors.order("name").each do |sector| %>
        <div class="col-6 col-lg-4 mt-2">
          <div class="card h-100">
            <div class="card-body py-2">
              <p class="card-text text-muted" style="flex: 1"><%= link_to sector.name, sector %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <%= t('view.general.not-available', model: t('model.organization'), multi: t('model.sector').to_s.pluralize) %>
  <% end %>
</div>

<div class="mt-4">
  <div class="border rounded bg-secondary text-white clearfix border card-header">
    <h5 class="float-left mb-0"><%= t('model.product').to_s.pluralize.humanize %></h5>
  </div>
  <% if @organization.products.count > 0 %>
    <div class="row">
      <% @organization.products.each do |product| %>
        <div class="col-6 col-lg-4 mt-2">
          <div class="card flex-row">
            <%= link_to product do %>
              <%= image_tag(product.image_file, height: 75, class: 'card-image-top align-middle p-1') %>
            <% end %>
            <div class="card-body align-middle my-auto px-2 py-2">
              <%= link_to product.name, product %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <%= t('view.general.not-available', model: t('model.organization'), multi: t('model.product').to_s.pluralize) %>
  <% end %>
</div>

<div class="mt-4">
  <div class="border rounded bg-secondary text-white clearfix border card-header">
    <h5 class="float-left mb-0"><%= t('model.project').to_s.pluralize.humanize %></h5>
  </div>
  <% if @organization.projects.count > 0 %>
    <div class="row">
      <% @organization.projects.order("name").each do |project| %>
        <div class="col-6 col-lg-4 mt-2">
          <div class="card h-100">
            <div class="card-body py-2">
              <p class="card-text text-muted" style="flex: 1"><%= link_to project.name, project %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <%= t('view.general.not-available', model: t('model.organization'), multi: t('model.project').to_s.pluralize) %>
  <% end %>
</div>
<% end ### End for non-MNI data section. ### %>

<div class="mt-4">
  <div class="border rounded bg-secondary text-white clearfix border card-header">
    <h5 class="float-left mb-0"><%= t('model.country').to_s.pluralize.humanize %></h5>
  </div>
  <% if @organization.locations.select{|location| location.location_type != 'point'}.count > 0 %>
    <div class="row">
      <% @organization.locations.where.not(location_type: 'point').order("name").each do |country| %>
        <div class="col-6 col-lg-4 mt-2">
          <div class="card h-100">
            <div class="card-body py-2">
              <p class="card-text text-muted" style="flex: 1"><%= link_to country.name, country %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <%= t('view.general.not-available', model: t('model.organization'), multi: t('model.country').to_s.pluralize) %>
  <% end %>
</div>

<% if @organization.is_mni && @can_view_mni %>
  <div class="mt-4">
    <div class="border rounded bg-secondary text-white clearfix border card-header">
      <h5 class="float-left mb-0"><%= t('model.operator_services').to_s.pluralize.humanize %></h5>
    </div>
    <div id="orgId" style="display:none"><%= @organization.id %></div>
    <div id="agg-nav" class="card-body p-2 col-6 col-lg-4 mt-2 ml-4 accordion-section ">
      <div class="mni-accordion">
        <% @organization.locations.each do |country| %>
          <h3 class="country-list" id="<%= country.id %>"><%= country.name %></h3>
          <div>
            <div class="mni-accordion">
              <% @core_services.each do |service| %>
                <h3 class="country-service" id="<%= country.id %>_<%= service %>"><%= service %></h3>
                <div class="capability">
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<script>
  <%
    office = @organization.locations.find{|location| location.location_type == 'point'}
    if (office)
  %>
    function updateMapMarker() {
      setOfficeMarker('<%= @organization.name %>', '<%= office.name %>', '<%= office.points[0][1] %>', '<%= office.points[0][0] %>');
    }

    $(document).on('organizations#show:loaded', updateMapMarker)
  <% end %>
  
  <% if !@organization_description.description.nil? && !@organization_description.description.empty? && @organization_description.description != "{}" %>
    setUpViewer(<%= raw JSON.generate(@organization_description.description) %>) 
  <% end %>   
</script>