<% if @product.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= t('view.general.error', count: @product.errors.count) %>
      <% @product.errors.each do |attr, err| %>
        <%= err %>
      <% end %>
    </div>
  </div>
<% end %>
<h5 class="border rounded bg-secondary text-white p-3">
  <%= t('view.general.title.edit', model: t('model.product')) %>
</h5>
<%= render 'form', product: @product %>
