<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<div class="row">
  <a href="#" class="prod-show-hide ml-4" id="prod-show-more">
    <p class="float-left mb-0 small"><%= t('view.general.show-product').to_s %></p>
  </a>
  <div id="prod-more" class="hidden">
    <section class="hero bg-secondary mb-2 ml-3 mr-3">
      <div class="col-12 ml-2 mt-2 text-white">
        <h5><strong><%= t('model.product').to_s.titleize.pluralize %></strong></h5>
        <div id="prod-desc">
          <p class="mr-4"><%= t('view.product.index.definition').to_s %></p>
          <div class="row">
            <div class="col-lg-6">
              <%= image_tag("/assets/products/ProductLegend1.png", class: 'card-img-top align-middle p-0') %>
            </div>
            <div class="col-lg-6">
              <%= image_tag("/assets/products/ProductLegend2.png", class: 'card-img-top align-middle p-0') %>
            </div>
          </div>
          <p class="mr-4 mt-2"><%= t('view.product.index.footer_help').to_s %></p>
          <a href="#" id="prod-show-less" class="prod-show-hide hidden">
            <p class="float-left"><%= t('view.general.show-less').to_s %></p>
          </a>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="float-right">
    <%= link_to t('view.product.index.product-graph'), productmap_path, class: 'small mr-1',
                target: "_blank", rel: "noreferrer noopener" %>
    <span class="small mr-1">&nbsp;|</span>
    <% if user_signed_in? && policy(Product).mod_allowed? %>
      <%= link_to t('view.general.create'), new_product_path, class: 'small mr-1' %>
      <span class="small mr-1">&nbsp;|</span>
      <%= link_to t('view.organization.index.view-audit'), audits_path(type: "Product"), :class => 'small mr-1' %>
    <% else %>
      <%= link_to t('view.general.create'),
          'https://github.com/unicef/publicgoods-candidates#how-to-submit-a-new-candidate-for-a-digital-public-good',
          class: 'small mr-1', target: :_blank  %>
    <% end %>
    </div>
  </div>
</div>

<div id="current-list">
<div class="row">
  <% @products.each do |product| %>
    <div class="col-lg-5ths col-md-4 d-flex align-items-stretch mt-2">
      <div class="card index-card small">
        <div class="card-header bg-secondary text-white truncate-parent">
          <%= link_to product.name, product, class: 'truncate-text',
            'title' => product.name, 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
          <div>
          <% if product.is_launchable %>
            <i class="fa fa-rocket header-img ml-1" data-toggle="tooltip" data-placement="top" data-original-title="<%= t('view.product.index.is_deployable') %>"></i>
          <% end %>
          <% if is_endorsed(product) %>
            <%= image_tag("digiprins.png", class: 'header-img', 'title' => t('view.product.index.is_endorsed'), 'data-toggle' => 'tooltip', 'data-placement' => 'top') %>
          <% end %>
          </div>
        </div>
        <div class="model-logo">
          <%= link_to(product) do %>
            <%= image_tag(product.image_file, class: 'card-img-top align-middle', skip_pipeline: true) %>
          <% end %>
        </div>

        <div class="card-footer footer-padding">
            <% category, images = get_footer_row(product, 1) %>
            <% if images.count > 0 %>
              <div class="footer-row" data-toggle="popover" data-placement="bottom" data-html="true" data-content='<%= get_row_popover(category,images) %>'>
            <% else %>
              <div class="footer-row">
            <% end %>
              <% images.each do |image| %>
                <% if image["gradient"] %>
                  <div class="digisquare-gauge-small" title data-toggle="tooltip" data-placement="top" data-original-title="<%= image["tooltip"] %>">
                    <p class="footer-score"><%= image["filename"] %></p>
                  </div>
                <% elsif image["osc"] %>
                  <div class="osc-small" title data-toggle="tooltip" data-placement="top" data-original-title="<%= image["tooltip"] %>">
                    <p class="osc-footer-score"><%= image["filename"] %></p>
                  </div>
                <% else %>
                  <%= image_tag(image["filename"], class: 'footer-img', 'title' => image["tooltip"], 'data-toggle' => 'tooltip', 'data-placement' => 'top') %>
                <% end %>
              <% end %>
            </div>
            <% category, images = get_footer_row(product, 2) %>
            <% if images.count > 0 %>
              <div class="footer-row mt-1" data-toggle="popover" data-placement="bottom" data-html="true" data-content='<%= get_row_popover(category,images) %>'>
            <% else %>
              <div class="footer-row mt-1">
            <% end %>
              <% images.each do |image| %>
                <% if image["gradient"] %>
                  <div class="digisquare-gauge-small" title data-toggle="tooltip" data-placement="top" data-original-title="<%= image["tooltip"] %>">
                    <p class="footer-score"><%= image["filename"] %></p>
                  </div>
                <% elsif image["osc"] %>
                  <div class="osc-small" title data-toggle="tooltip" data-placement="top" data-original-title="<%= image["tooltip"] %>">
                    <p class="osc-footer-score"><%= image["filename"] %></p>
                  </div>
                <% else %>
                  <%= image_tag(image["filename"], class: 'footer-img', 'title' => image["tooltip"], 'data-toggle' => 'tooltip', 'data-placement' => 'top') %>
                <% end %>
              <% end %>
            </div>
            <% category, images = get_footer_row(product, 3) %>
            <div class="footer-row" data-container="body" data-toggle="popover" data-placement="bottom">
              <p class="footer-source"><%= get_source_label(product) %></p>
              <% images.each do |image| %>
                <%= image_tag(image["filename"], class: 'footer-img-right', 'title' => image["tooltip"], 'data-toggle' => 'tooltip', 'data-placement' => 'top') %>
              <% end %>
            </div>
          </small>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>

<script>
  $(".prod-show-hide").on('click', function(e) {
    e.preventDefault()
    $("#prod-more").toggleClass('hidden')
    $("#prod-show-more").toggleClass('hidden')
    $("#prod-show-less").toggleClass('hidden')
  })
</script>
