<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>
<div class="card">
  <h5 class="card-header bg-secondary text-white">
    <%= "#{t('model.location').to_s.humanize}: #{@location.name}" %>
  </h5>
  <div class="card-body py-2">
    <div>
      <% if !@location.aliases.empty? %>
        <h6 class="card-text text-muted mt-2 mb-2">
          <strong><%= t('view.location.form.other-names') %>:</strong>
          <ul>
            <% @location.aliases.each{|other_name| %>
              <li><%= other_name %></li>
            <%}%>
          </ul>
        </h6>
      <% end %>
    </div>
    <div class="float-right">
      <%= link_to t('view.general.back'), locations_path, :class => "card-link" %>
      <% if user_signed_in? && policy(@location).mod_allowed? %>
        <%= link_to t('view.general.edit'), edit_location_path(@location), :class => "card-link" %>
      <% end %>
    </div>
  </div>
</div>

<div class="mt-4">
  <div class="border rounded bg-secondary text-white clearfix border card-header">
    <h5 class="float-left mb-0"><%= t('model.organization').to_s.pluralize.humanize %></h5>
  </div>
  <% if @location.organizations.count > 0 %>
    <div class="row">
      <% @location.organizations.each do |organization| %>
        <div class="col-6 col-lg-4 mt-2">
          <div class="card h-100">
            <div class="card-body py-1">
              <h5 class="card-title"><%= link_to organization.name, organization %></h5>
              <h6 class="card-subtitle text-muted"><%= organization.website %></h6>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="card-text text-muted">
      <%= t('view.general.not-available', model: t('model.location'), multi: t('model.organization').to_s.pluralize) %>
    </p>
  <% end %>
</div>
