<!DOCTYPE html>
<html>
  <head>
    <title>Product Registry</title>
    <%= csrf_meta_tags %>
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://use.fontawesome.com/releases/v5.7.2/css/all.css",
        :integrity => "sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr",
        :crossorigin => "anonymous" %>
    <style>
      .rotate-north {
        top: 65px;
        left: 0.5em;
      }
      .ol-touch .rotate-north {
        top: 80px;
      }
    </style>
    <% if Rails.env.production? || Rails.env.development? %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= Rails.application.secrets.google_tracker %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '<%= Rails.application.secrets.google_tracker %>');
      </script>
    <% end %>
    <link rel="icon" type="image/png" href="/favicon.png">
  </head>
<% if controller.action_name == 'map_fs'%>
  <body id="main-body"
        data-controller="<%= controller.controller_name %>"
        data-action="<%= controller.action_name %>"
        style="padding-top:0 !important; background-color: #f2f2f2">
    <%= yield %>
  </body>
<% else %>
  <body id="main-body"
        data-controller="<%= controller.controller_name %>"
        data-action="<%= controller.action_name %>">
    <%= render '/shared/topnav' %>
    <% if current_page?('/about') || current_page?(root_path) %>
      <div id="content" class="container">
        <%= render '/shared/sidenav' %>
        <%= yield %>
        <%= render 'cookies_eu/consent_banner', link: about_cookies_path, target: '_blank' %>
      </div>
    <% elsif hide_sidenav %>
      <div id="content" class="container">
        <%= yield %>
        <%= render 'cookies_eu/consent_banner', link: about_cookies_path, target: '_blank' %>
      </div>
    <% elsif display_breadcrumb %>
      <div id="content" class="container">
        <%= render '/shared/breadcrumb' %>
        <%= yield %>
        <%= render 'cookies_eu/consent_banner', link: about_cookies_path, target: '_blank' %>
      </div>
    <% else %>
      <div id="content" class="container-fluid">
        <div class="row">
          <div class="col-3 nav-container bg-dark">
            <%= render '/shared/filternav' %>
          </div>
          <div class="col-9">
            <%= render '/shared/summarynav' %>
            <%= render '/shared/activefilter' %>
            <%= yield %>
          </div>
        </div>
        <%= render 'cookies_eu/consent_banner', link: about_cookies_path, target: '_blank' %>
      </div>
    <% end %>

    <%= render '/shared/footer' %>
  </body>
<% end %>
</html>
